@import "variables.less";

/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */

.pf1.chat-card {
  font-style: normal;
  font-size: @fontSizeNormal;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }

    h3 {
      flex: 1;
      margin: 0;
      .nodesto();
      color: @colorOlive;
      align-self: center;
    }
  }

  .card-content {
    margin: 5px 0;

    h3 {
      font-size: @fontSizeNormal;
      margin: 0;
      font-weight: bold;
    }

    // Add critical success to d20 inline rolls
    .inline-result[data-roll*="faces%22%3A20%"][data-roll*="result%22%3A20%"] {
      background: #60c060;
    }

    // Add critical failure to d20 inline rolls
    .inline-result[data-roll*="faces%22%3A20%"][data-roll*="result%22%3A1%"] {
      background: #c06060;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .card-range {
    display: block;
    margin: 0 2px 1px 0;
    padding: 1px 3px;
    font-size: @fontSizeNormal;
    line-height: 1.5;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    flex: 0 1 auto;
    text-align: center;

    &:hover {
      border-color: blue;
    }
  }

  .card-buttons {
    margin: 2px 0;

    &.spell-buttons,
    .card-button-group {
      label {
        text-align: center;
      }

      button {
        font-size: @fontSizeNormal;
        height: 20px;
        line-height: 1.3;
        margin: 2px 0;
      }
    }

    span {
      display: block;
      line-height: 20px;
      text-align: center;
      border: 1px solid @borderLight;
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;

    .spell-failure {
      padding: 4px;
      margin-bottom: 4px;
      border: 1px solid #999;
      border-radius: 3px;

      h3 {
        color: #4c6d9f;
        font-size: @fontSizeLarge;
        text-align: center;
      }

      .dice-roll,
      .dice-total {
        padding: 0;
      }
    }
  }

  .attack-row,
  .damage-row {
    align-items: baseline;

    a.inline-result {
      border-radius: 2px;
    }

    h1 {
      margin-bottom: 4px;
      font-size: @fontSizeLarge;
      font-weight: bold;
      border-bottom: unset;
      box-shadow: inset 0px -2px 0px 0px #782e22;
    }

    h2 {
      font-size: @fontSizeNormal;
      margin-bottom: 4px;
      margin-top: 4px;
    }
  }

  .fake-inline-roll {
    padding: 1px 4px 0 4px;
    color: black;
    i {
      color: #7a7971;
    }
    text-shadow: none;
    font-weight: normal;
  }
  .inline-roll,
  .fake-inline-roll {
    flex: 0;
    height: 100%;

    .dice-tooltip {
      z-index: 1;

      .part-header {
        .part-formula {
          text-align: left;
        }
      }
    }

    &.success {
      background-color: rgb(96, 192, 96);
    }

    &.failure {
      background-color: rgb(192, 96, 96);
    }
  }
}

#chat .chat-message {
  .dice-roll {
    .roll {
      &.die.success,
      &.fatedie.success,
      &.coin.heads {
        color: @colorSuccess;
        filter: sepia(0.5) hue-rotate(60deg);
      }
      &.die.failure,
      &.fatedie.failure,
      &.coin.tails {
        color: @colorFailure;
        filter: sepia(0.5) hue-rotate(-60deg);
      }
    }
  }
}

.message {
  h2.attack-targets {
    &:hover {
      text-shadow: 0 0 10px red;
      cursor: pointer;
    }
  }

  div.attack-targets {
    margin-bottom: 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .target {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 0 content;
      margin-right: 2px;
      margin-bottom: 2px;
      border: 1px solid black;
      padding: 2px;
      align-items: center;

      .icon {
        height: 16px;
      }

      .saving-throws {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        min-width: 40px;

        > div {
          display: flex;
          justify-content: space-evenly;

          &.click {
            &:hover {
              box-shadow: 0 0 10px red;
              cursor: pointer;
            }
          }

          > * {
            flex: 0 0 16px;
          }

          .value {
            &.success {
              color: @colorSuccess;
              font-weight: bold;
            }
            &.failure {
              color: @colorFailure;
              font-weight: bold;
            }
          }
        }
      }

      img.target-image {
        width: 48px;
        height: 48px;
        min-width: 48px;
        min-height: 48px;
        max-width: 48px;
        max-height: 48px;
        border: 1px solid black;
        object-fit: cover;
        object-position: 50% 0;
        margin: 0;
        border-radius: 0;
      }

      .ac {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        min-width: 40px;

        &:hover {
          box-shadow: 0 0 10px red;
          cursor: pointer;
        }

        > div {
          display: flex;
          justify-content: space-evenly;

          > * {
            flex: 0 0 16px;
          }
        }
      }
    }
  }

  .chat-attack {
    margin-bottom: 2px;

    .attack-flavor {
      i.fas {
        color: red;
      }
    }

    .dice-roll {
      overflow: hidden;

      .dice-flavor {
        color: #4c6d9f;
        font-size: @fontSizeSmall;
        text-align: center;
        white-space: nowrap;
      }

      .dice-total {
        font-size: @fontSizeLarge;
        line-height: 1.3;
      }
    }

    table {
      a.inline-action {
        opacity: 0;
      }
      &:hover a.inline-action {
        opacity: 100%;
      }
    }
  }

  .ammo {
    display: flex;
    flex-flow: row nowrap;

    img {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    span,
    i {
      vertical-align: middle;
      line-height: 24px;
    }

    a {
      opacity: 0;
    }
    &:hover a {
      opacity: 100%;
    }
  }

  .property-group {
    flex: 0 0 24px;

    /* Tags */
    .tag {
      display: inline-block;
      padding: 1px 3px;
      font-size: @fontSizeSmall;
      line-height: 1.2;
      border: 1px solid #999;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.05);
      flex: 0 1 auto;
      white-space: initial;
    }

    input[type="text"] {
      height: 24px;
      margin: 2px;
    }

    label {
      flex: 2;
      color: @colorOlive;
      font-weight: bold;
    }
  }

  .extra-text {
    margin-top: 8px;
    flex: 0 0 100%;
    white-space: pre-wrap;

    label {
      flex: 2;
      color: @colorOlive;
      font-weight: bold;
    }
  }

  .extra-effect:not(:last-child),
  .extra-misc:not(:last-child) {
    margin-bottom: 5px;
  }

  .extra-effect {
    position: relative;
    margin: 0;
    line-height: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
  }

  .extra-misc {
    position: relative;
    margin: 0;
    line-height: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
  }

  .extra-roll-label {
    font-weight: bold;
    font-size: @fontSizeNormal;
  }

  div.defense {
    table {
      font-size: @fontSizeNormal;
      width: 100%;
      table-layout: fixed;

      td,
      th {
        text-align: center;
      }
    }
  }

  .level-up {
    .item {
      margin-bottom: 4px;

      img {
        vertical-align: middle;
      }
    }

    .level-change {
      margin-bottom: 4px;
    }

    div.part {
      margin-bottom: 4px;
    }
  }
}

.pf1.chat-card.defense-card {
  .saving-throws {
    margin-top: 4px;
  }

  .tag-list {
    margin-bottom: 2px;
  }
}

.chat-message .property-group .tag-list {
  gap: 1px;
}

.damage-tooltip {
  align-items: baseline;

  &.tooltip .tooltipcontent {
    width: 160px;

    .roll-formula {
      border-bottom: 1px solid white;
    }
  }

  .damage-amount {
    font-size: @fontSizeNormal;
    text-align: right;
    margin-right: 4px;
  }

  .damage-type {
    font-size: @fontSizeNormal;
    flex: 0 0 50%;
    max-width: 50%;
    overflow: hidden;
    text-align: left;
    margin-left: 4px;
    padding: 2px;
    border: 1px solid @borderDark;
    border-radius: 4px;
  }
}
