<section class="tab sidebar-tab directory flexcol" id="compendium" data-tab="compendium">
  <header class="directory-header">
    <div class="header-actions action-buttons flexrow">
      {{#if user.isGM}}
        <button class="create-compendium" type="submit"><i class="fas fa-atlas"></i> {{localize "COMPENDIUM.Create"}}</button>
      {{/if}}
    </div>
  </header>

  <ol class="directory-list">
    {{#each packs as |pack label|}}
      <li class="compendium-type">
        <h3>{{label}}</h3>
        <ol class="compendium-list">
          {{#each pack.packs}}
            <li class="compendium-pack directory-item" data-pack="{{this.collection}}" data-open="0">
              <h4 class="pack-title">
                <a><i class="folder fas fa-folder"></i> {{this.metadata.label}}</a>
                <div class="status-icons">
                  {{#if this.private}}<i class="fas fa-eye-slash"></i>{{/if}}
                  {{#if this.locked}}<i class="fas fa-lock"></i>{{/if}}
                  {{#if this.pf1.disabled}}<i class="fas fa-low-vision"></i>{{/if}}
                </div>
              </h4>
              <footer class="compendium-footer">
                <span class="entity-type">{{this.metadata.type}}</span>
                <span> ({{this.metadata.package}})</span>
              </footer>
            </li>
          {{/each}}
        </ol>
      </li>
    {{/each}}
  </ol>

  <footer class="directory-footer">
    <div class="compendium-footer flexcol">
      <div class="flexrow">
        <button class="compendium spells">{{localize "PF1.BrowseSpells"}}</button>
        <button class="compendium items">{{localize "PF1.BrowseItems"}}</button>
      </div>
      <div class="flexrow">
        <button class="compendium attacks">{{localize "PF1.BrowseAttacks"}}</button>
        <button class="compendium feats">{{localize "PF1.BrowseFeats"}}</button>
      </div>
      <div class="flexrow">
        <button class="compendium races">{{localize "PF1.BrowseRaces"}}</button>
        <button class="compendium buffs">{{localize "PF1.BrowseBuffs"}}</button>
      </div>
      <div class="flexrow">
        <button class="compendium bestiary">{{localize "PF1.BrowseBestiary"}}</button>
      </div>
    </div>
  </footer>
</section>
