<li class="directory-item flexrow feat-tier-{{item.data.featTier}}" data-collection="{{collection._id}}" data-entry-id="{{item._id}}">
  <img class="profile" src="{{item.img}}" title="{{item.name}}"/>
  <h4 class="entry-name"><a>{{item.name}}</a></h4>
  <span class="entry-source">{{collection.label}}</span>
</li>