<div class="spell-description">
  <p>
    {{#if label.castingTime}}<strong>{{localize "PF1.CastingTime"}}</strong>&nbsp;{{label.castingTime}}<br>{{/if}}
    {{#if label.components}}<strong>{{localize "PF1.Components"}}</strong>&nbsp;{{label.components}}<br>{{/if}}
    {{#if label.traits}}<strong>{{localize "PF1.Traits"}}</strong>&nbsp;{{label.traits}}<br>{{/if}}
  </p>
  <p>
    {{#if label.range}}<strong>{{localize "PF1.Range"}}</strong>&nbsp;{{label.range}}<br>{{/if}}
    {{#if label.area}}<strong>{{localize "PF1.Area"}}</strong>&nbsp;{{label.area}}<br>{{/if}}
    {{#if label.targets}}<strong>{{localize "PF1.Targets"}}</strong>&nbsp;{{label.targets}}<br>{{/if}}
    {{#if label.effect}}<strong>{{localize "PF1.Effect"}}</strong>&nbsp;{{label.effect}}<br>{{/if}}
    {{#if label.duration}}<strong>{{localize "PF1.Duration"}}</strong>&nbsp;{{label.duration}}<br>{{/if}}
    {{#if label.savingThrow}}<strong>{{localize "PF1.SavingThrow"}}</strong>&nbsp;{{label.savingThrow}}<br>{{/if}}
    <strong>{{localize "PF1.SpellResistance"}}</strong>&nbsp;{{label.sr}}<br>
  </p>
</div>
