<div class="form-group slim">
    <label>{{localize "TOKEN.VisionLowLightMultiplier"}}</label>
    <div class="form-fields">
        <label>{{localize "TOKEN.VisionDim"}}</label>
        <input type="number" name="flags.pf1.lowLightVisionMultiplier" data-dtype="Number" placeholder="2" title="{{localize "PF1.Dim"}}" value="{{object.flags.pf1.lowLightVisionMultiplier}}"/>
        <label>{{localize "TOKEN.VisionBright"}}</label>
        <input type="number" name="flags.pf1.lowLightVisionMultiplierBright" data-dtype="Number" placeholder="2" title="{{localize "PF1.Bright"}}" value="{{object.flags.pf1.lowLightVisionMultiplierBright}}"/>
    </div>
</div>
