<h1>{{{localize "PF1.Help.Content.Items.Weapons.Label"}}}</h1>

<p>{{{localize "PF1.Help.Content.Items.Weapons.Desc"}}}</p>

<img src="{{localize "PF1.Help.Img.Items.Weapons"}}">

<p><b>{{{localize "PF1.Help.Content.Items.Weapons.Category"}}}</b> {{{localize "PF1.Help.Content.Items.Weapons.CategoryDesc"}}}</p>
<p><b>{{{localize "PF1.Help.Content.Items.Weapons.Type"}}}</b> {{{localize "PF1.Help.Content.Items.Weapons.TypeDesc"}}}</p>
<p><b>{{{localize "PF1.Help.Content.Items.Weapons.Size"}}}</b> {{{localize "PF1.Help.Content.Items.Weapons.SizeDesc"}}}</p>
<p><b>{{{localize "PF1.Help.Content.Items.Generic.EquipmentStatus"}}}</b>
    <ul>
        <li><b>{{{localize "PF1.Help.Content.Items.Generic.Equipped"}}}</b> {{{localize "PF1.Help.Content.Items.Generic.EquippedDesc"}}}</li>
        <li><b>{{{localize "PF1.Help.Content.Items.Generic.Identified"}}}</b> {{{localize "PF1.Help.Content.Items.Generic.IdentifiedDesc"}}}</li>
        <li><b>{{{localize "PF1.Help.Content.Items.Generic.Masterwork"}}}</b> {{{localize "PF1.Help.Content.Items.Generic.MasterworkDesc"}}}</li>
        <li><b>{{{localize "PF1.Help.Content.Items.Generic.Broken"}}}</b> {{{localize "PF1.Help.Content.Items.Generic.BrokenDesc"}}}</li>
    </ul>
</p>
<p><b>{{{localize "PF1.Help.Content.Items.Weapons.Traits"}}}</b> {{{localize "PF1.Help.Content.Items.Weapons.TraitsDesc"}}}</p>
<p><b>{{{localize "PF1.Help.Content.Items.Generic.EnhancementBonus"}}}</b> {{{localize "PF1.Help.Content.Items.Generic.EnhancementBonusDesc"}}}</p>
<p><b>{{{localize "PF1.Help.Content.Items.Weapons.BonusAttackFormula"}}}</b> {{{localize "PF1.Help.Content.Items.Weapons.BonusAttackFormulaDesc"}}}
    <ul>
        <li><code>@abilities.str.mod < 3 ? -2 : 0</code> {{{localize "PF1.Help.Content.Items.Weapons.BonusAttackFormulaExamples.0"}}}</li>
    </ul>
</p>
<p><b>{{{localize "PF1.Help.Content.Items.Weapons.BaseWeaponDamage"}}}</b> {{{localize "PF1.Help.Content.Items.Weapons.BaseWeaponDamageDesc"}}}</p>
<p><b>{{{localize "PF1.Help.Content.Items.Weapons.BonusDamageFormula"}}}</b> {{{localize "PF1.Help.Content.Items.Weapons.BonusDamageFormulaDesc"}}}
    <ul>
        <li><code>min(4, @abilities.str.mod)</code> {{{localize "PF1.Help.Content.Items.Weapons.BonusDamageFormulaExamples.0"}}}</li>
    </ul>
</p>
<p><b>{{{localize "PF1.Help.Content.Items.Weapons.BaseWeaponCritical"}}}</b> {{{localize "PF1.Help.Content.Items.Weapons.BaseWeaponCriticalDesc"}}}</p>