<div class="tab flexcol" data-group="primary" data-tab="description">
  {{#if showIdentifyDescription}}
  <nav class="sheet-navigation tabs subtabs description" data-group="description">
    <a class="item" data-tab="identified">{{localize "PF1.Identified"}}</a>
    <a class="item" data-tab="unidentified">{{localize "PF1.Unidentified"}}</a>
  </nav>
  {{/if}}

  <div class="flexrow description-container">
    <div class="item-properties">
      {{#if isPhysical}}
      {{#unless descriptionAttributes}}
      {{!-- Quantity --}}
      <div class="form-group">
        <label>{{localize "PF1.Quantity"}}</label>
        <input class="select-on-click" type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
      </div>

      {{!-- Bulk --}}
      <div class="form-group">
        <label>{{localize "PF1.Bulk"}}</label>
        <input class="select-on-click" type="text" name="data.bulkConverted" value="{{data.bulkConverted}}" data-dtype="String"/>
      </div>

      {{!-- Price --}}
      {{#if showIdentifyDescription}}
      <div class="form-group">
        <label>{{localize "PF1.Price"}} ({{data.priceUnits}})</label>
        <input class="select-on-click" type="text" name="data.price" value="{{numberFormat data.price decimals=2}}" data-dtype="Number"/>
      </div>

      <div class="form-group">
        <label>{{localize "PF1.UnidentifiedPriceShort"}}</label>
        <input class="select-on-click" type="text" name="data.unidentified.price" value="{{numberFormat data.unidentified.price decimals=2}}" data-dtype="Number"/>
      </div>
      {{else}}
      {{#if showUnidentifiedData}}
      <div class="form-group">
        <label>{{localize "PF1.Price"}} ({{data.priceUnits}})</label>
        <input class="select-on-click" type="text" name="data.unidentified.price" value="{{data.unidentified.price}}" data-dtype="Number"/>
      </div>
      {{else}}
      <div class="form-group">
        <label>{{localize "PF1.Price"}} ({{data.priceUnits}})</label>
        <input class="select-on-click" type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
      </div>
      {{/if}}
      {{/if}}

      {{!-- Hit Points --}}
      <div class="form-group">
        <label>{{localize "PF1.HPShort"}}</label>
        <input class="select-on-click" type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number" style="flex: 0 0 32px"/>
        <span>/</span>
        <input class="select-on-click" type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number" style="flex: 0 0 32px"/>
      </div>

      {{!-- Hardness --}}
      <div class="form-group">
        <label>{{localize "PF1.Hardness"}}</label>
        <input class="select-on-click" type="text" name="data.hardness" value="{{data.hardness}}" data-dtype="Number"/>
      </div>

      {{!-- Carried Flag --}}
      <div class="form-group">
        <label>{{localize "PF1.Carried"}}</label>
        <input type="checkbox" name="data.carried" {{checked data.carried}}/>
      </div>
      {{else}}
      {{#each descriptionAttributes as |attr|}}
      {{#if attr.isBoolean}}
      <div class="form-group">
        <label>{{attr.label}}</label>
        <input type="checkbox" name="{{attr.name}}" {{checked attr.value}}/>
      </div>
      {{/if}}
      {{#if attr.isNumber}}
      <div class="form-group">
        <label>{{attr.label}}</label>
        {{#if attr.fakeName}}
        <div data-action="input-text" data-for=".{{attr.id}}-description-input" data-attr-name="{{attr.name}}">
          <input class="{{#if attr.id}}{{attr.id}}-description-input{{/if}}" type="number" readonly data-dtype="Number" value="{{numberFormat attr.value decimals=attr.decimals}}"/>
        </div>
        {{else}}
        <input class="{{#if attr.id}}{{attr.name}}-description-input{{/if}} select-on-click" name="{{attr.name}}" type="number" data-dtype="Number" value="{{numberFormat attr.value decimals=attr.decimals}}"/>
        {{/if}}
      </div>
      {{/if}}
      {{#if attr.isString}}
      <div class="form-group">
        <label>{{attr.label}}</label>
        {{#if attr.fakeName}}
        <div data-action="input-text" data-for=".{{attr.id}}-description-input" data-attr-name="{{attr.name}}">
          <input class="{{#if attr.id}}{{attr.name}}-description-input{{/if}}" type="text" readonly value="{{attr.value}}"/>
        </div>
        {{else}}
        <input class="{{#if attr.id}}{{attr.name}}-description-input{{/if}}" name="{{attr.name}}" type="text" value="{{attr.value}}"/>
        {{/if}}
      </div>
      {{/if}}
      {{#if attr.isRange}}
        <div class="form-group">
          <label>{{attr.label}}</label>
          {{!-- Value --}}
          {{#if attr.value.fakeName}}
            <div data-action="input-text" data-for=".{attr.value.id}}-description-input" data-attr-name="{{attr.value.name}}">
              <input class="{{#if attr.value.id}}{{attr.value.name}}-description-input{{/if}}" type="text" readonly value="{{attr.value.value}}"/>
            </div>
          {{else}}
            <input class="{{#if attr.value.id}}{{attr.value.name}}-description-input{{/if}} select-on-click" name="{{attr.value.name}}" type="text" value="{{attr.value.value}}"/>
          {{/if}}
          <span>/</span>
          {{!-- Max --}}
          {{#if attr.max.fakeName}}
            <div data-action="input-text" data-for=".{attr.max.id}}-description-input" data-attr-name="{{attr.max.name}}">
              <input class="{{#if attr.max.id}}{{attr.max.name}}-description-input{{/if}}" type="text" readonly value="{{attr.max.value}}"/>
            </div>
          {{else}}
            <input class="{{#if attr.max.id}}{{attr.max.name}}-description-input{{/if}} select-on-click" name="{{attr.max.name}}" type="text" value="{{attr.max.value}}"/>
          {{/if}}
        </div>
      {{/if}}
      {{/each}}
      {{/unless}}
      {{/if}}

      {{!-- Traits --}}
      <ol class="traits-list">
        {{#unless showUnidentifiedData}}
        {{#each itemProperties}}
        <li>{{this}}</li>
        {{/each}}
        {{/unless}}
      </ol>
    </div>

    {{#if showIdentifyDescription}}
    <section class="description-body">
      <div class="tab description-group flexcol" data-group="description" data-tab="identified">
      {{roll-editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
      </div>

      <div class="tab description-group flexcol" data-group="description" data-tab="unidentified">
      {{roll-editor content=data.description.unidentified target="data.description.unidentified" button=true owner=owner editable=editable}}
      </div>
    </section>
    {{else}}
    {{#if showUnidentifiedData}}
    {{roll-editor content=data.description.unidentified target="data.description.unidentified" button=true owner=owner editable=editable}}
    {{else}}
    {{roll-editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    {{/if}}
    {{/if}}
  </div>
</div>
