{{!-- Action Type --}}
<div class="form-group select">
  <label>{{localize "PF1.ActionType"}}</label>
  <select name="data.actionType">
    {{#select data.actionType}}
    <option value=""></option>
    {{#each config.itemActionTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>
{{#if data.actionType}}

{{#if isSpell}}
<div class="form-group">
  <label>{{localize "PF1.SpellEffect"}}</label>
  <div class="form-fields">
    <input type="text" name="data.spellEffect" value="{{data.spellEffect}}" placeholder="{{localize "PF1.SpellEffectExample"}}"/>
  </div>
</div>
{{/if}}

{{#if hasAttackRoll}}
{{!-- Attack Name --}}
<div class="form-group">
  <label>{{localize "PF1.AttackName"}}</label>
  <div class="form-fields">
    <input type="text" name="data.attackName" value="{{data.attackName}}" placeholder="{{localize "PF1.Attack"}}" />
  </div>
</div>

{{!-- Attack Roll Bonus --}}
<div class="form-group">
  <label>{{localize "PF1.AttackRollBonus"}}</label>
  <div class="form-fields">
    <input type="text" disabled class="small" name="data.sizeBonus" value="{{data.sizeBonus}}" title="{{localize 'PF1.Size'}}" placeholder="0" data-dtype="Number" />
    <input class="formula" type="text" name="data.attackBonus" value="{{data.attackBonus}}" placeholder="{{localize "PF1.Formula"}}"/>
  </div>
</div>

{{#unless isCombatManeuver}}
<div class="form-group">
  <label>{{localize "PF1.CriticalThreatRange"}}</label>
  <div class="form-fields">
    <input type="text" name="data.ability.critRange" value="{{data.ability.critRange}}" data-dtype="Number"/>
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1.CriticalMultiplier"}}</label>
  <div class="form-fields">
    <input type="text" name="data.ability.critMult" value="{{data.ability.critMult}}" data-dtype="Number"/>
  </div>
</div>
{{/unless}}

{{!-- Attack Ability --}}
<div class="form-group select">
  <label>{{localize "PF1.AttackAbility"}}</label>
  <select name="data.ability.attack">
    {{#select data.ability.attack}}
    <option value=""></option>
    {{#each config.abilities as |ability a|}}
    <option value="{{a}}">{{ability}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>
{{/if}}

<hr />

{{#if hasAttacks}}
<h4 class="attack-header">
  {{localize "PF1.ExtraAttacks"}}
</h4>
<ol class="attack-parts form-group">
  {{#each data.attackParts as |part a|}}
  <li class="attack-part flexrow" data-attack-part="{{a}}">
    <input class="formula" type="text" name="data.attackParts.{{a}}.0" placeholder="{{localize "PF1.AttackBonusFormula"}}" value="{{lookup this "0"}}"/>
    <input type="text" name="data.attackParts.{{a}}.1" placeholder="{{localize "PF1.Name"}}" value="{{lookup this "1"}}"/>
    <a class="attack-control delete-attack"><i class="fas fa-trash"></i></a>
  </li>
  {{/each}}
  <li class="attack-part flexrow"><a class="attack-control add-attack"><i class="fas fa-plus"></i> {{localize "PF1.AddAttack"}}</a></li>
</ol>

{{!-- Formulaic Extra Attacks --}}
<h4 class="attack-header">{{localize 'PF1.FormulaicExtraAttacks'}}</h4>
<div class="formulaic-attacks-box">
<div class="form-group">
  <label>{{localize 'PF1.FormulaicAttacksCount'}}</label>
  <input type="text" class="formulaic-attacks formula" name="data.formulaicAttacks.count.formula" value="{{data.formulaicAttacks.count.formula}}" data-dtype="String" placeholder="e.g. ceil(@attributes.bab.total / 5) - 1" />
  {{!-- to avoid disappearance of .value --}}
  <input type="text" disabled class="formula-result small" name="data.formulaicAttacks.count.value" value="{{data.formulaicAttacks.count.value}}" title="{{localize 'PF1.FormulaResult'}}" placeholder="0" data-dtype="Number" />
</div>
<div class="form-group">
  <label>{{localize 'PF1.AttackBonusFormula'}}</label>
  <input type="text" class="formula" name="data.formulaicAttacks.bonus.formula" value="{{data.formulaicAttacks.bonus.formula}}" data-dtype="String" placeholder="e.g. @formulaicAttack * -5" />
</div>
<div class="form-group">
  <label>{{localize 'PF1.AttackName'}}</label>
  <input type="text" name="data.formulaicAttacks.label" value="{{data.formulaicAttacks.label}}" title="{{localize 'PF1.FormulaAttackHint'}}" data-dtype="String" placeholder="{{localize 'PF1.FormulaAttack'}}" />
</div>
</div>

<hr />
{{/if}}

{{!-- Damage Ability --}}
<div class="form-group select">
  <label>{{localize "PF1.DamageAbility"}}</label>
  <select name="data.ability.damage">
    {{#select data.ability.damage}}
    <option value=""></option>
    {{#each config.abilities as |ability a|}}
    <option value="{{a}}">{{ability}}</option>
    {{/each}}
    {{/select}}
  </select>
  <select name="data.ability.damageMult" data-dtype="Number">
    {{#select data.ability.damageMult}}
    <option value="0.5">x0.5</option>
    <option value="1" {{#unless data.ability.damageMult}}selected="selected"{{/unless}}>x1</option>
    <option value="1.5">x1.5</option>
    <option value="2">x2</option>
    <option value="2.5">x2.5</option>
    {{/select}}
  </select>
</div>

<hr>

{{!-- Damage Formula --}}
<div class="damage" data-key="data.damage.parts">
  <h4 class="damage-header">
    {{#unless isHealing }}{{localize "PF1.DamageFormula"}}{{ else }}{{localize "PF1.HealingFormula"}}{{/unless}}
  </h4>
  <ol class="damage-parts form-group tooltip">
    {{#each data.damage.parts as |part i| }}
    <li class="damage-part flexrow" data-damage-part="{{i}}">
      <input class="damage-formula formula" type="text" name="data.damage.parts.{{i}}.0" placeholder="{{#unless isHealing }}{{localize "PF1.DamageFormula"}}{{ else }}{{localize "PF1.HealingFormula"}}{{/unless}}" value="{{lookup this "0"}}"/>
      <input class="damage-type" type="text" name="data.damage.parts.{{i}}.1" placeholder="{{localize "PF1.DamageTypes"}}" value="{{lookup this "1"}}"/>
      <a class="damage-control delete-damage"><i class="fas fa-trash"></i></a>
    </li>
    {{/each}}
    <li class="damage-part flexrow"><a class="damage-control add-damage"><i class="fas fa-plus"></i>
        {{#unless isHealing}}{{localize "PF1.AddDamage"}}{{else}}{{localize "PF1.AddHealing"}}{{/unless}}
      </a></li>
  </ol>
</div>

<hr>

{{#unless isCombatManeuver}}
{{!-- Critical Damage Bonus Formula --}}
<div class="damage" data-key="data.damage.critParts">
  <h4 class="damage-header">
    {{#unless isHealing }}{{localize "PF1.CritDamageBonusFormula"}}{{ else }}{{localize "PF1.CritHealingBonusFormula"}}{{/unless}}
  </h4>
  <ol class="damage-parts form-group tooltip">
    {{#each data.damage.critParts as |part i| }}
    <li class="damage-part flexrow" data-damage-part="{{i}}">
      <input class="damage-formula formula" type="text" name="data.damage.critParts.{{i}}.0" placeholder="{{#unless isHealing }}{{localize "PF1.DamageFormula"}}{{ else }}{{localize "PF1.HealingFormula"}}{{/unless}}" value="{{lookup this "0"}}"/>
      <input class="damage-type" type="text" name="data.damage.critParts.{{i}}.1" placeholder="{{localize "PF1.DamageTypes"}}" value="{{lookup this "1"}}"/>
      <a class="damage-control delete-damage"><i class="fas fa-trash"></i></a>
    </li>
    {{/each}}
    <li class="damage-part flexrow"><a class="damage-control add-damage"><i class="fas fa-plus"></i> {{localize "PF1.AddCriticalDamage"}}</a></li>
  </ol>
</div>

<hr>

{{!-- Non-critical Damage Bonus Formula --}}
<div class="damage" data-key="data.damage.nonCritParts">
  <h4 class="damage-header">
    {{#unless isHealing }}{{localize "PF1.NonCritDamageBonusFormula"}}{{ else }}{{localize "PF1.NonCritHealingBonusFormula"}}{{/unless}}
  </h4>
  <ol class="damage-parts form-group">
    {{#each data.damage.nonCritParts as |part i| }}
    <li class="damage-part flexrow" data-damage-part="{{i}}">
      <input class="damage-formula formula" type="text" name="data.damage.nonCritParts.{{i}}.0" placeholder="{{#unless isHealing }}{{localize "PF1.DamageFormula"}}{{ else }}{{localize "PF1.HealingFormula"}}{{/unless}}" value="{{lookup this "0"}}"/>
      <input class="damage-type" type="text" name="data.damage.nonCritParts.{{i}}.1" placeholder="{{localize "PF1.DamageTypes"}}" value="{{lookup this "1"}}"/>
      <a class="damage-control delete-damage"><i class="fas fa-trash"></i></a>
    </li>
    {{/each}}
    <li class="damage-part flexrow"><a class="damage-control add-damage"><i class="fas fa-plus"></i> {{localize "PF1.AddNonCriticalDamage"}}</a></li>
  </ol>
</div>

{{!-- Power Attack/Deadly Aim properties --}}
{{#if hasAttackRoll}}
  <h4 class="attack-header">{{localize "PF1.PowerAttack"}}/{{localize "PF1.DeadlyAim"}}</h4>

  <div class="form-group">
    <label>{{localize "PF1.Multiplier"}}</label>
    <input type="text" name="data.powerAttack.multiplier" value="{{data.powerAttack.multiplier}}" data-dtype="String" placeholder="{{localize "PF1.Held"}}" />
  </div>

  <div class="form-group">
    <label>{{localize "PF1.DamageBonus"}}</label>
    <input type="text" name="data.powerAttack.damageBonus" value="{{data.powerAttack.damageBonus}}" data-dtype="Number" />
  </div>

  <div class="form-group">
    <label>{{localize "PF1.CriticalMultiplier"}}</label>
    <input type="text" name="data.powerAttack.critMultiplier" value="{{data.powerAttack.critMultiplier}}" data-dtype="Number" />
  </div>
{{/if}}

<hr>
{{/unless}}

{{!-- Saving Throw --}}
<div class="form-group input-select">
  <label>{{localize "PF1.DC"}}</label>
  <div class="form-fields">
    <input class="formula" type="text" name="data.save.dc" value="{{data.save.dc}}" placeholder="{{localize "PF1.DC"}}"/>
    <select name="data.save.type">
      {{#select data.save.type}}
      <option value=""></option>
      {{#each config.savingThrows as |save type|}}
      <option value="{{type}}">{{save}}</type>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>

<div class="form-group input-select">
  <label>{{localize "PF1.SavingThrowEffect"}}</label>
  <div class="form-fields">
    <input type="text" name="data.save.description" value="{{data.save.description}}" placeholder="{{localize "PF1.DCDescriptionExample"}}"/>
  </div>
</div>

{{!-- Attack Notes --}}
{{#if hasAttackRoll}}
<div class="form-group stacked notes attack" data-name="data.attackNotes">
  <table>
    <thead>
      <th>{{localize "PF1.AttackNotes"}}</th>
      <th class="entry-control"><a class="add-entry"><i class="fas fa-plus"></i></a></th>
    </thead>
    <tbody>
      {{#each data.attackNotes as |entry index|}}
      <tr class="entry" data-index="{{index}}">
        <td class="nocenter"><input type="text" data-index="{{k}}" value="{{entry}}" name="data.attackNotes.{{index}}" /></td>
        <td class="entry-control"><a class="delete-entry"><i class="fas fa-minus"></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}

{{!-- Effect Notes --}}
<div class="form-group stacked notes effect" data-name="data.effectNotes">
  <table>
    <thead>
      <th>{{localize "PF1.EffectNotes"}}</th>
      <th class="entry-control"><a class="add-entry"><i class="fas fa-plus"></i></a></th>
    </thead>
    <tbody>
      {{#each data.effectNotes as |entry index|}}
      <tr class="entry" data-index="{{index}}">
        <td class="nocenter"><input type="text" data-index="{{k}}" value="{{entry}}" name="data.effectNotes.{{index}}" /></td>
        <td class="entry-control"><a class="delete-entry"><i class="fas fa-minus"></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}

{{!-- Sound Effect --}}
<div class="form-group">
  <label>{{localize "PF1.SoundEffect"}}</label>
  <div class="form-fields">
    <input type="text" name="data.soundEffect" placeholder="path/audio.wav" value="{{data.soundEffect}}"/>
    <button type="button" class="file-picker-alt" data-for="data.soundEffect" data-type="audio">
      <i class="fas fa-file-import fa-fw"></i>
    </button>
  </div>
</div>