{{!-- Tags --}}
<div class="flexcol">
    <div class="tags">
        <h3 class="form-header">
            <a class="help-browser" data-url="systems/pf1/help/items/concepts/flags.hbs"><i class="fas fa-info-circle"></i></a>
            {{localize "PF1.Flags"}}
        </h3>

        {{!-- Boolean Flags --}}
        <div class="form-group">
            <div class="form-fields boolean-flags">
                <div class="data-selector">
                    <a class="entry-selector" for="data.flags.boolean" data-flag="true" data-flat="true" data-fields="{{localize "PF1.FlagsBoolean"}}" data-dtypes="String"><i class="fas fa-edit"></i></a>
                    <label for="data.flags.boolean">{{localize "PF1.FlagsBoolean"}}</label>
                </div>

                <div class="tag-list flexrow">
                    {{#each flags.boolean as |value key|}}
                    <span class="tag">{{key}}</span>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Dictionary Flags --}}
        <div class="form-group">
            <div class="form-fields dictionary-flags">
                <div class="data-selector">
                    <a class="entry-selector" for="data.flags.dictionary" data-flag="true" data-fields="{{localize "PF1.Name"}};{{localize "PF1.Value"}}" data-dtypes="String;String"><i class="fas fa-edit"></i></a>
                    <label for="data.flags.dictionary">{{localize "PF1.FlagsDictionary"}}</label>
                </div>
            </div>

            {{#if flags.dictionary}}
            <table>
                <thead>
                    <tr>
                        <th>{{localize "PF1.Name"}}</th>
                        <th>{{localize "PF1.Value"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each flags.dictionary as |value key|}}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
    </div>

    {{!-- Script Calls --}}
    {{#if scriptCalls}}
    <div class="script-calls">
        <h3 class="form-header">
            <a class="help-browser" data-url="systems/pf1/help/items/concepts/script-calls.hbs"><i class="fas fa-info-circle"></i></a>
            {{localize "PF1.ScriptCalls.Name"}}
        </h3>

        {{#each scriptCalls as |section k|}}
        <ol class="inventory-list" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">
                    {{#if section.info}}
                    <i class="fas fa-info item-info" title="{{section.info}}"></i>
                    {{/if}}
                    {{localize section.name}}
                </h3>

                {{#if ../isGM}}
                <div class="item-detail item-hidden">
                    <i class="fas fa-eye-slash" title="{{localize "PF1.Hidden"}}"></i>
                </div>
                {{/if}}

                <div class="item-controls">
                    {{#if ../owner}}
                    <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}">
                        <i class="fas fa-plus"></i>
                    </a>
                    {{/if}}
                </div>
            </li>

            <ol class="items-list">
                {{#each section.items as |item i|}}
                {{#unless hide}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-name flexrow">
                        <div class="item-image no-hover" style='background-image: url("{{item.img}}")'></div>
                        <h4>{{item.name}}</h4>
                    </div>

                    {{#if ../../isGM}}
                    <div class="item-detail item-hidden">
                        <a class="item-control item-hide"><span>{{{item.hiddenIcon}}}</span></a>
                    </div>
                    {{/if}}

                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </ol>
        {{/each}}
    </div>
    {{/if}}
</div>
