<form autocomplete="off">
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="base"><i class="fas fa-heartbeat"></i> {{localize "SETTINGS.pf1HealthConfigTabBase"}}</a>
    <a class="item" data-tab="variants"><i class="fas fa-prescription-bottle-alt"></i> {{localize "SETTINGS.pf1HealthConfigTabVariant"}}</a>
  </nav>

  <div class="tabbed">
  <!-- Base Tab -->
    <section class="tab" data-tab="base">
      <p class="notes">{{localize 'SETTINGS.pf1HealthConfigInstructions'}}</p>
      <div id="hitdice">
        <label class="index table-header">{{localize 'PF1.HitDie'}}</label>
        {{#each hitdieOptions}}
          <label class="table-header">{{this}}</label>
        {{/each}}

        {{#each hitdice as |opt hd|}}
          <label class="index">{{hd}}</label>
          <div class="switch">
            <input class="switch-check" type="checkbox" {{#if opt.auto}}checked{{/if}} name="hitdice.{{hd}}.auto" id="hitdice.{{hd}}.auto">
            <label class="switch-label" for="hitdice.{{hd}}.auto">
              <span class="switch-auto">{{localize 'SETTINGS.pf1HealthComputeAuto'}}</span>
              <span class="switch-manual">{{localize 'SETTINGS.pf1HealthComputeManual'}}</span>
            </label>
          </div>
          <span><input type="text" data-dtype="Number" name="hitdice.{{hd}}.rate" value="{{opt.rate}}"></span>
          <span><input type="text" data-dtype="Number" name="hitdice.{{hd}}.maximized" value="{{opt.maximized}}"></span>
        {{/each}}
        </ul>
      </div>

      <div class="form-group">
        <label>{{localize 'SETTINGS.pf1HealthRoundingName'}}</label>
        <select name="rounding">
          {{#select rounding}}
            <option value="up">&uarr;</option>
            <option value="nearest">&#8597;</option>
            <option value="down">&darr;</option>
          {{/select}}
        </select>
        <p class="notes">{{localize 'SETTINGS.pf1HealthRoundingHint'}}</p>
      </div>

      <div class="form-group">
        <label>{{localize 'SETTINGS.pf1HealthContinuityName'}}</label>
        <select name="continuity">
          {{#select continuity}}
            <option value="continuous">{{localize 'SETTINGS.pf1HealthContinuityContinuous'}}</option>
            <option value="discrete">{{localize 'SETTINGS.pf1HealthContinuityDiscrete'}}</option>
          {{/select}}
        </select>
        <p class="notes">{{localize 'SETTINGS.pf1HealthContinuityHint'}}</p>
      </div>
    </section>
  </div>

  <div class="form-group">
    <button type="button" name="reset">
      <i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}
    </button>
    <button type="submit" name="submit" >
      <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
    </button>
  </div>
</form>
