<h2 class="attack-targets">{{localize "PF1.Targets"}}</h2>

<div class="attack-targets">
  {{#each targets as |t|}}
    <div class="target" data-uuid="{{t.uuid}}">
      {{!-- Saving Throws --}}
      <div class="saving-throws" data-gm-sensitive-uuid="{{t.uuid}}">
        <div class="bdySave click" data-saving-throw="bdySave" title="{{localize "PF1.SavingThrowBdy"}}">
          <i class="icon icon-heart-plus"></i>
          <span class="value"></span>
        </div>
        <div class="mndSave click" data-saving-throw="mndSave" title="{{localize "PF1.SavingThrowMnd"}}">
          <i class="icon icon-brain"></i>
          <span class="value"></span>
        </div>
        <div class="sprSave click" data-saving-throw="sprSave" title="{{localize "PF1.SavingThrowSpr"}}">
          <i class="icon icon-magic-palm"></i>
          <span class="value"></span>
        </div>
      </div>

      {{!-- Portrait --}}
      <img class="target-image" src="{{t.actorData.img}}"/>

      {{!-- AC --}}
      <div class="ac" data-gm-sensitive-uuid="{{t.uuid}}">
        <div class="normal" title="{{localize "PF1.ACNormal"}}">
          <i class="fas fa-shield-alt"></i>
          <span class="value">{{t.actorData.data.attributes.ac.normal.total}}</span>
        </div>
        <div class="touch" title="{{localize "PF1.ACTouch"}}">
          <i class="fas fa-hand-point-up"></i>
          <span class="value">{{t.actorData.data.attributes.ac.touch.total}}</span>
        </div>
        <div class="flatFooted" title="{{localize "PF1.ACFlatFooted"}}">
          <i class="fas fa-shoe-prints"></i>
          <span class="value">{{t.actorData.data.attributes.ac.flatFooted.total}}</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>
