<div class="pf1 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenUuid}}data-token-uuid="{{tokenUuid}}"{{/if}}>
  {{~> "systems/pf1/templates/chat/parts/attack-roll-header.hbs"}}

  {{#each attacks as |atk idx|}}
  <div class="chat-attack" data-index="{{idx}}">
    {{#if atk.hasAttack}}
    <div class="flexrow attack-row">
      <h1 class="attack-flavor">
        {{atk.attack.flavor}}
        {{#if atk.rollData.d20}}
        <i class="fas fa-dice-d20" title="{{localize "PF1.CustomRollDesc"}}"></i>
        {{/if}}
      </h1>
      <a class="inline-roll inline-dsn-hidden inline-result{{#if atk.attack.isNat20}} natural-20{{/if}}{{#if atk.attack.isCrit}} critical-threat success{{/if}}{{#if atk.attack.isFumble}} failure{{/if}}"
         title="{{atk.attack.formula}}" data-roll="{{json-string atk.attack.roll}}">
        <i class="fas fa-dice-d20"></i> {{atk.attack.total}}
      </a>
    </div>

    {{#if atk.hasCritConfirm}}
    <div class="flexrow">
      <h3>{{atk.critConfirm.flavor}}</h3>
      <a class="inline-roll inline-dsn-hidden inline-result{{#if atk.critConfirm.isCrit}} success{{/if}}{{#if atk.critConfirm.isFumble}} failure{{/if}}"
         title="{{atk.critConfirm.formula}}" data-roll="{{json-string atk.critConfirm.roll}}">
        <i class="fas fa-dice-d20"></i> {{atk.critConfirm.total}}
      </a>
    </div>

    {{/if}}{{/if}}

    {{#if atk.hasDamage}}
    <div class="flexrow damage-row">
      <h2>{{atk.damage.flavor}}</h2>
      <a class="fake-inline-roll inline-result" title="{{localize "PF1.Total"}}">{{atk.damage.total}}</a>
    </div>

    {{#each atk.damage.parts as |part|}}
    <div class="flexrow">
      <span>{{part.damageType}}</span>
      <a class="inline-roll inline-dsn-hidden inline-result" title="{{part.roll.formula}}" data-roll="{{json-string part.roll}}">
        <i class="fas fa-dice-d20"></i> {{part.roll.total}}
      </a>
    </div>
    {{/each}}

    {{#if atk.hasCritConfirm}}
    <div class="flexrow damage-row">
      <h2>{{atk.critDamage.flavor}}</h2>
      <a class="fake-inline-roll inline-result" title="{{localize "PF1.Total"}}">{{atk.critDamage.total}}</a>
    </div>
    {{/if}}

    {{#each atk.critDamage.parts as |part|}}
    <div class="flexrow">
      <span>{{part.damageType}}</span>
      <a class="inline-roll inline-dsn-hidden inline-result" title="{{part.roll.formula}}" data-roll="{{json-string part.roll}}">
        <i class="fas fa-dice-d20"></i> {{part.roll.total}}
      </a>
    </div>
    {{/each}}

    {{/if}}

    {{#if atk.hasCards}}
    <hr>
    {{/if}}

    <div class="flexcol card-buttons">
      {{#each atk.cards as |cardGroup|}}
      <div class="card-button-group flexcol">
        <label>{{cardGroup.label}}</label>
        <div class="flexrow">
        {{#each cardGroup.items as |item|}}
          <button data-action="{{item.action}}" data-value="{{item.value}}" data-tags="{{item.tags}}"{{#if item.data}}{{#each item.data as |dValue dKey|}} data-{{dKey}}="{{dValue}}"{{/each}}{{/if}}>{{item.label}}</button>
        {{/each}}
        </div>
      </div>
      {{/each}}
      {{#if ../hasSave}}
      <button data-action="save" data-dc="{{../save.dc}}" data-type="{{../save.type}}"
        {{#if ../save.gmSensitiveLabel}} data-gm-sensitive-inner="{{../save.gmSensitiveLabel}}"{{/if}}
        data-tags="{{item.tags}}">{{../save.label}}</button>
      {{/if}}
    </div>

    {{{atk.effectNotesHTML}}}
  </div>
  {{/each}}

  {{~> "systems/pf1/templates/chat/parts/attack-roll-footer.hbs"}}
</div>