{{!-- Apply Damage button/widget --}}
{{#*inline "applyDamageButton"}}
  {{!-- Apply full damage --}}
  <a class="inline-action" data-action="applyDamage" data-value="{{#if isHealing}}-{{/if}}{{damage}}" title="{{#if isHealing}}{{localize "PF1.ApplyHealing"}}{{else}}{{localize "PF1.ApplyDamage"}}{{/if}}"
                                                                                                      data-tags="{{#if nonlethal}}nonlethal{{/if}}">
    <i class="fas fa-hammer"></i>
    <i class="absolute fas fa-plus"></i>
  </a>
  {{!-- Apply half damage --}}
  <a class="inline-action" data-action="applyDamage" data-value="{{#if isHealing}}-{{/if}}{{halfNumber damage}}" title="{{localize "PF1.ApplyHalf"}}"
                                                                                                      data-tags="{{#if nonlethal}}nonlethal{{/if}}">
    <i class="fas fa-hammer"></i>
    <i class="absolute">½</i>
  </a>
{{/inline}}

{{!-- Damage row partial --}}
{{#*inline "damageRow"}}
  <tr>
    {{#if dr.normal}}
      <td>
        <a class="inline-roll inline-dsn-hidden inline-result" title="{{dr.normal.roll.formula}}" data-roll="{{json-string dr.normal.roll}}">
          <i class="fas fa-dice-d20"></i> {{dr.normal.roll.total}}
        </a>
      </td>
      <td>{{dr.normal.damageType}}</td>
    {{else}}
      <td></td>
      <td></td>
    {{/if}}
    {{#if atk.hasCritConfirm}}
    {{#if dr.crit}}
      <td>
        <a class="inline-roll inline-dsn-hidden inline-result" title="{{dr.crit.roll.formula}}" data-roll="{{json-string dr.crit.roll}}">
          <i class="fas fa-dice-d20"></i> {{dr.crit.roll.total}}
        </a>
      </td>
      <td>{{dr.crit.damageType}}</td>
    {{else}}
      <td></td>
      <td></td>
    {{/if}}
    {{/if}}
  </tr>
{{/inline}}

{{!-- Attack table partial --}}
{{#*inline "attackTable"}}
  {{#unless atk.notesOnly}}
    <table>
      <thead>
        {{#if atk.hasAttack}}
        <tr>
          <th class="attack-flavor" colspan="4">
            {{atk.attack.flavor}}
            {{#if atk.rollData.d20}}
            <i class="fas fa-dice-d20" title="{{localize "PF1.CustomRollDesc"}}"></i>
            {{/if}}
          </th>
        </tr>
        {{else}}
        <tr>
          <th class="attack-damage" colspan="2">
            {{atk.damage.flavor}}
            <a class="attack-damage total fake-inline-roll inline-result" title="{{localize "PF1.Total"}}">{{atk.damage.total}}</a>
            {{> applyDamageButton damage=atk.damage.total isHealing=atk.isHealing nonlethal=atk.nonlethal}}
          </th>
        </tr>
        {{/if}}
      </thead>

      <tbody>
        {{#if atk.hasAttack}}
        <tr>
          <td colspan="4">
            <a class="inline-roll inline-result{{#if atk.attack.isCrit}} success{{/if}}{{#if atk.attack.isFumble}} failure{{/if}}"
            title="{{atk.attack.formula}}" data-roll="{{json-string atk.attack.roll}}">
            <i class="fas fa-dice-d20"></i> {{atk.attack.total}}
            </a>
          </td>
        </tr>

        {{#if atk.hasDamage}}
        <tr>
          <th colspan="2">
            {{atk.damage.flavor}}
            <a class="fake-inline-roll inline-dsn-hidden inline-result" title="{{localize "PF1.Total"}}">{{atk.damage.total}}</a>
            {{> applyDamageButton damage=atk.damage.total isHealing=atk.isHealing nonlethal=atk.nonlethal}}
          </th>
          {{#if atk.hasCritConfirm}}
          <th colspan="2">
            {{atk.critDamage.flavor}}
            <a class="fake-inline-roll inline-dsn-hidden inline-result" title="{{localize "PF1.Total"}}">{{atk.critDamage.total}}</a>
            {{> applyDamageButton damage=atk.critDamage.total isHealing=atk.isHealing nonlethal=atk.nonlethal}}
          </th>
          {{/if}}
        </tr>

        {{!-- Damage parts in an attack --}}
        {{#each atk.damageRows as |dr|}}
          {{> damageRow atk=../atk dr=dr}}
        {{/each}}
        {{/if}}

        {{else}}

        {{!-- Damage parts without an attack roll --}}
        {{#each atk.damageRows as |dr|}}
          {{> damageRow atk=../atk dr=dr}}
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  {{else}}
    <table>
      <thead>
        <tr>
          <th>
            {{atk.label}}
          </th>
        </tr>
      </thead>
    </table>
  {{/unless}}

  {{!-- Ammo --}}
  {{#if atk.ammo}}
    <div class="ammo group-container" data-ammo-id="{{atk.ammo.id}}">
      <label class="group-title">{{localize "PF1.LootTypeAmmoSingle"}}</label>
      <img src="{{atk.ammo.img}}" />
      <span class="name">{{atk.ammo.name}}</span>

      {{!-- Recover --}}
      <a class="inline-action" data-action="recoverAmmo" title="{{localize "PF1.RecoverAmmunition"}}">
        <i class="fas fa-rocket"></i>
      </a>

      {{!-- Force Recover --}}
      <a class="inline-action" data-action="forceRecoverAmmo" title="{{localize "PF1.ForceRecover"}}">
        <i class="fas fa-rocket"></i>
        <i class="absolute fas fa-plus"></i>
      </a>
    </div>
  {{/if}}
{{/inline}}

<div class="pf1 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenUuid}}data-token-uuid="{{tokenUuid}}"{{/if}}>
  {{~> "systems/pf1/templates/chat/parts/attack-roll-header.hbs"}}

  {{#if targets}}
  {{> "systems/pf1/templates/chat/parts/attack-roll-targets.hbs"}}
  {{/if}}

  {{#each attacks as |atk idx|}}
  <div class="chat-attack" data-index="{{idx}}">
    {{> attackTable atk=atk}}

    {{#if atk.hasCards}}
    <hr>

    <div class="flexcol card-buttons">
      {{#each atk.cards as |cardGroup|}}
      <div class="card-button-group flexcol">
        <label>{{cardGroup.label}}</label>
        <div class="flexrow">
        {{#each cardGroup.items as |item|}}
          <button data-action="{{item.action}}" data-value="{{item.value}}" data-tags="{{item.tags}}"{{#if item.data}}{{#each item.data as |dValue dKey|}} data-{{dKey}}="{{dValue}}"{{/each}}{{/if}}>{{item.label}}</button>
        {{/each}}
        </div>
      </div>
      {{/each}}
      {{#if ../hasSave}}
      <button data-action="save" data-dc="{{../save.dc}}" data-type="{{../save.type}}"
        {{#if ../save.gmSensitiveLabel}} data-gm-sensitive-inner="{{../save.gmSensitiveLabel}}"{{/if}}
        data-tags="{{item.tags}}">{{../save.label}}</button>
      {{/if}}
      {{#if ../hasBurst}}
      <button data-action="burst" data-attack="{{../burst.attack}}" data-spellbook="{{../burst.spellbook}}" data-tags="{{item.tags}}">{{../burst.label}}</button>
      {{/if}}
    </div>
    {{else}}
    <div class="card-button-group flexcol">
      {{#if ../hasSave}}
      <button data-action="save" data-dc="{{../save.dc}}" data-type="{{../save.type}}"
        {{#if ../save.gmSensitiveLabel}} data-gm-sensitive-inner="{{../save.gmSensitiveLabel}}"{{/if}}
        data-tags="{{item.tags}}">{{../save.label}}</button>
      {{/if}}
      {{#if ../hasBurst}}
      <button data-action="burst" data-attack="{{../burst.attack}}" data-spellbook="{{../burst.spellbook}}" data-tags="{{item.tags}}">{{../burst.label}}</button>
      {{/if}}
    </div>
    {{/if}}

    {{{atk.effectNotesHTML}}}
  </div>
  {{/each}}

  {{~> "systems/pf1/templates/chat/parts/attack-roll-footer.hbs"}}
</div>