<div class="pf1 chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
    <h3 class="item-name">{{item.name}}</h3>
  </header>

  <div class="card-content">
    {{enrich description rollData=@root.rollData}}
  </div>

  <footer class="card-footer">
    {{#if data.materials.value}}
    <p><strong>{{ localize "PF1.ChatReqMats" }}.</strong> {{data.materials.value}}</p>
    {{/if}}

    {{#if data.properties.length}}
    <div class="flexcol property-group gm-sensitive">
      <label>{{localize "PF1.Tags"}}</label>
      <div class="flexrow tag-list">
        {{#each data.properties}}
        <span class="tag">{{{this}}}</span>
        {{/each}}
      </div>
    </div>
    {{/if}}

    {{#if hasExtraProperties}}
    {{#each extraProperties as |prop|}}
    <div class="flexcol property-group gm-sensitive">
      <label>{{prop.header}}</label>
      <div class="flexrow tag-list">
        {{#each prop.value as |v|}}
        <span class="tag">{{v}}</span>
        {{/each}}
      </div>
    </div>
    {{/each}}
    {{/if}}
  </footer>
</div>
