<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="house">{{ localize "PF1.Biography" }}</a>
    <a class="item" data-tab="inventory">{{ localize "PF1.Vault" }}</a>
    <a class="item" data-tab="feats">{{ localize "PF1.Ledger" }}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  {{!-- NPC Sheet Body --}}
  <section class="primary-body">

    {{!-- Details --}}
    <div class="tab house flexcol" data-group="primary" data-tab="house">
      <div class="header-house flexcol">
        {{> "systems/pf1/templates/actors/parts/actor-house.hbs"}}
        {{roll-editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
      </div>
    </div>
    
    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
      {{> "systems/pf1/templates/actors/parts/actor-inventory.hbs" sections=inventory}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab feats flexcol" data-group="primary" data-tab="feats">
      {{> "systems/pf1/templates/actors/parts/actor-features.hbs" sections=features}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{roll-editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
      </div>

      {{#if table_magicItems}}
      <div>
        {{{table_magicItems}}}
      </div>
      {{/if}}
    </div>
  </section>
</form>
