<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- NPC Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

    <div class="header-details flexcol">
      <!-- <div class="header-top flexrow"> -->
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" />
      </h1>
      <!-- </div> -->
    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "PF1.Summary"}}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  <section class="primary-body">
    <div class="tab summary" data-group="primary" data-tab="summary">
      {{!-- HD/XP reward --}}
      <div class="hd-level npc tooltip flexrow">
        <table>
          <thead>
            <tr>
              <th>{{localize "PF1.CreatureType"}}</th>
              <th>{{localize "PF1.ChallengeRatingShort"}}</th>
              <th>{{localize "PF1.Experience"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select name="data.attributes.creatureType">
                  {{#select data.attributes.creatureType}}
                  {{#each config.creatureTypes as |label type|}}
                  <option value="{{type}}">{{label}}</option>
                  {{/each}}
                  {{/select}}
                </select>
              </td>
              <td data-action="input-text" data-for=".cr-input" data-attr-name="data.details.cr.base">
                <input readonly class="cr-input" type="text" value="{{labels.cr}}" />
              </td>
              <td>
                {{data.details.xp.value}}
              </td>
            </tr>
          </tbody>
        </table>

        <span class="tooltipcontent">
          @attributes.hd.total : {{data.attributes.hd.total}}<br />
          @details.cr.base : {{data.details.cr.base}}<br />
          @details.cr.total : {{data.details.cr.total}}
        </span>
      </div>

      <table>
        {{!-- Speed/Size/Stature --}}
        <thead>
          <tr>
            <th class="attribute">
              {{localize "PF1.Speed"}}
            </th>
            <th class="attribute">
              {{localize "PF1.Size"}}
            </th>
            <th class="attribute">
              {{localize "PF1.Stature"}}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="text-box direct allow-relative speed-input" name="data.attributes.speed.land.base"
                data-dtype="Number">{{data.attributes.speed.land.base}}</span>
            </td>
            <td>
              <select name="data.traits.size">
                {{#select data.traits.size}}
                {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
                {{/each}}
                {{/select}}
              </select>
            </td>
            <td>
              <select name="data.traits.stature">
                {{#select data.traits.stature}}
                {{#each config.actorStatures as |label key|}}
                <option value="{{key}}">{{label}}</option>
                {{/each}}
                {{/select}}
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      {{!-- Health --}}
      <table class="health-table">
        <thead>
          <tr>
            <th colspan="2">
              {{localize "PF1.HitPoints"}}
            </th>
            <th colspan="2">
              {{localize "PF1.Resolve"}}
            </th>
          </tr>

          <tr>
            <th>{{localize "PF1.Current"}}</th>
            <th>{{localize "PF1.Maximum"}}</th>
            <th>{{localize "PF1.Current"}}</th>
            <th>{{localize "PF1.Maximum"}}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="text-box direct wheel-change allow-relative hp-current-input" name="data.attributes.hp.value"
                data-dtype="Number">{{data.attributes.hp.value}}</span>
            </td>
            <td>
              <span class="text-box direct hp-max-input"
                name="data.attributes.hp.base">{{data.attributes.hp.max}}</span>
            </td>
            <td>
              <span class="text-box direct wheel-change allow-relative resolve-current-input"
                name="data.attributes.resolve.value" data-dtype="Number">{{data.attributes.resolve.value}}</span>
            </td>
            <td>
              <span class="text-box direct resolve-max-input"
                name="data.attributes.resolve.base">{{data.attributes.resolve.max}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      {{!-- Roll Defenses --}}
      <li class="npc-defenses flexrow">
        <div class="rollable image-d20"></div>
        <label><h3>{{localize "PF1.Defenses"}}</h3></label>
      </li>
      
      {{!-- AC --}}
      <table>
        <thead>
          <tr>
            <th class="attribute">
              {{localize "PF1.ACNormal"}}
            </th>
            <th class="attribute">
              {{localize "PF1.ACTouch"}}
            </th>
            <th class="attribute">
              {{localize "PF1.ACFlatFooted"}}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="text-box direct allow-relative luck-input" name="data.attributes.armor.luck"
                data-dtype="Number">{{data.attributes.ac.normal.total}}</span>
            </td>
            <td>
              <span class="text-box direct allow-relative natural-input" name="data.attributes.armor.natural"
                data-dtype="Number">{{data.attributes.ac.touch.total}}</span>
            </td>
            <td>
              <span class="text-box direct allow-relative dodge-input" name="data.attributes.armor.dodge"
                data-dtype="Number">{{data.attributes.ac.flatFooted.total}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      {{!-- Saves --}}
      <table>
        <thead>
          <tr>
            {{#each data.attributes.savingThrows as |savingThrow id|}}
            <th class="saving-throw" data-savingthrow="{{id}}">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{savingThrow.label}}</span></a>
            </th>
            {{/each}}
          </tr>
        </thead>

        <tbody>
          <tr>
            {{#each data.attributes.savingThrows as |savingThrow id|}}
            <td>
              <span class="text-box direct savingthrow-{{id}}-input"
                name="data.attributes.savingThrows.{{id}}.bonus">{{savingThrow.total}}</span>
            </td>
            {{/each}}
          </tr>
        </tbody>
      </table>

      {{!-- Combat --}}
      <table>
        <thead>
          <tr>
            <th class="attribute initiative">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Initiative"}}</span></a>
            </th>
            <th class="attribute cmb">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CMBAbbr"}}</span></a>
            </th>
            <th class="attribute">
              {{localize "PF1.CMDAbbr"}}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="text-box direct allow-relative initiative-input" name="data.attributes.init.bonus"
                data-dtype="Number">{{data.attributes.init.total}}</span>
            </td>
            <td>
              <span class="text-box direct allow-relative cmb-input" name="data.attributes.cmb.bonus"
                data-dtype="Number">{{data.attributes.cmb.total}}</span>
            </td>
            <td>
              <span class="text-box direct allow-relative cmd-input" name="data.attributes.cmd.bonus"
                data-dtype="Number">{{data.attributes.cmd.total}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      {{!-- Actions --}}
      <div class="combat-attacks">
        <section class="attacks-body">
          {{#each attacks as |section sid|}}
          <div class="inventory-group flexcol {{#if section.initial}}active{{/if}}">
            <ol class="inventory-list sub-scroll scroll-attacks">
              <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">{{section.label}}</h3>

                {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" title="{{localize "PF1.Type"}}"></i></div>{{/if}}

                <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>

                <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "PF1.ChargePlural"}}"></i></div>

                {{#if ../owner}}
                <div class="item-controls">
                  {{#if section.canCreate}}
                  <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v
                    k|}}data-{{k}}="{{v}}" {{/each}}>
                    <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
                  </a>
                  {{/if}}
                </div>
                {{/if}}
              </li>

              <ol class="item-list">
                {{#each section.items as |item iid|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                  <div class="item-name flexrow rollable">
                    <div class="item-image" style='background-image: url("{{item.img}}")'></div>
                    <h4>
                      {{item.name~}}
                    </h4>
                  </div>

                  {{#if section.showTypes}}
                  <div class="item-detail item-type">
                    <span>{{lookup ../../config.attackTypes item.data.attackType}}</span>
                  </div>
                  {{/if}}

                  <div class="item-detail item-actions">
                    <div class="item-attack tooltip">
                      {{#if item.hasAction}}
                      <span class="tooltipcontent">
                        {{localize "PF1.PerformAttack"}}
                      </span>
                      <a class="item-control item-attack"><img class="icon"
                          src="systems/pf1/icons/actions/gladius.svg"></a>
                      {{/if}}
                    </div>
                  </div>

                  <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                    {{#if item.isCharged}}
                    <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.data.uses.value}}</span>
                    <span class="sep"> / </span>
                    <span class="text-box">{{item.data.uses.max}}</span>
                    <span class="tooltipcontent">
                      @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                      @resources.{{item.tag}}.max : {{item.data.uses.max}}
                    </span>
                    {{/if}}
                  </div>

                  {{#if ../../owner}}
                  <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i
                        class="fas fa-edit"></i></a>
                    <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i
                        class="fas fa-copy"></i></a>
                    <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i
                        class="fas fa-trash"></i></a>
                  </div>
                  {{/if}}
                </li>
                {{/each}}
              </ol>
            </ol>
          </div>
          {{/each}}
        </section>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      <div class="primary-content">
        {{roll-editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner
        editable=editable}}
      </div>

      {{#if table_magicItems}}
      <div>
        {{{table_magicItems}}}
      </div>
      {{/if}}
    </div>
  </section>

</form>
