<form class="{{cssClass}}" autocomplete="off">
  <div class="flexcol">
    <div class="form-group stacked">
      <select name="restType">
      {{#select restType}}
      <option value="shortRest">{{localize "PF1.ShortRest"}}</option>
      <option value="longRest">{{localize "PF1.LongRest"}}</option>
      <option value="safeRest">{{localize "PF1.SafeRest"}}</option>
      {{/select}}
    </select>
    </div>

    <div class="form-group">
      <label>{{localize "PF1.HitDiceUsed"}}</label>
      <input type="number" data-dtype="Number" name="hdUsed" value="0"/>
    </div>
  </div>

  <button type="submit" name="submit">
    {{localize "PF1.Rest"}}
  </button>
</form>
