<form autocomplete="off" onsubmit="event.preventDefault();">
  <table class="item-list">
    <thead>
      <tr>
        <th>{{localize "PF1.Ability"}}</th>
        <th>{{localize "PF1.Base"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each abilities as |abl|}}
      <tr class="ability" data-ability="{{abl.key}}">
        <th>{{abl.name}}</th>

        <td>
          <select class="item-detail ability-value ability-control">
            {{#select abl.value}}
              {{#if abl.value}}
              <option value="{{abl.value}}">{{abl.value}}</option>
              {{/if}}
              <option value="">--</option>
              {{#each ../points}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
      </tr>
      {{/each}}
    </tbody> 
  </table>

  <div class="info">
    <p>
      {{localize "PF1.StandardArrayUnused"}}
      {{#each points as |point|}}
      {{point}}
      {{/each}}
    </p>
    <p>
      <i class="fas fa-exclamation-triangle"></i> {{localize "PF1.StandardArrayCalculatorWarning"}}
    </p>
  </div>
  {{#if points.length}}
  <button disabled type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "PF1.Confirm"}}</button>
  {{else}}
  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "PF1.Confirm"}}</button>
  {{/if}}
</form>
