<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="itemname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{labels.level}}
        </li>
        <li>
          {{labels.school}}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    <a class="item" data-tab="conditionals">{{localize "PF1.Conditionals"}}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{!--  {{> "systems/pf1/templates/internal/spell-description.hbs" @root.item.spellDescriptionData}}  --}}
      {{{topDescription}}}

      {{!-- Spell Description --}}
      <h2>{{localize "PF1.Description"}}</h2>
      {{roll-editor content=shortDescription target="data.shortDescription" button=true owner=owner editable=editable}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize "PF1.SpellDetails"}}</h3>

      {{!-- Spellbook --}}
      {{#if owner}}
      <div class="form-group">
        <label>{{localize "PF1.SpellBook"}}</label>
        <select name="data.spellbook">
          {{#select data.spellbook}}
          {{#each spellbooks as |spellbook a|}}
          <option value="{{a}}">{{spellbook.name}}</option>
          {{else}}
            {{#each config.spellBooks as |spellbook a|}}
            <option value="{{a}}">{{spellbook}}</option>
            {{/each}}
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{else}}
      <input type="hidden" name="data.spellbook" value="primary"/>
      {{/if}}

      {{!-- Spell Tier --}}
      <div class="form-group">
        <label>{{localize "PF1.Tier"}}</label>
        <select name="data.level" data-dtype="Number">
          {{#select data.level}}
          {{#each config.spellLevels as |name lvl|}}
          <option value="{{lvl}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Spell School --}}
      <div class="form-group">
        <label>{{localize "PF1.SpellSchool"}}</label>
        <select name="data.school">
          {{#select data.school}}
          {{#each config.spellPlanes as |name sch|}}
          <option value="{{sch}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Misc --}}
      <div class="spell-misc form-group stacked">
        <label>{{localize "PF1.Misc"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.sr" {{checked data.sr}}/> {{localize "PF1.SpellResistance"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="data.clCheck" {{checked data.clCheck}}/> {{localize "PF1.CasterLevelCheck"}}
        </label>

        <label class="checkbox">
          <input type="checkbox" name="data.atWill" {{checked data.atWill}}/> {{localize "PF1.SpellPrepAtWill"}}
        </label>

        {{#if owner}}
        <label class="checkbox">
          <input type="checkbox" name="data.showInQuickbar" {{checked data.showInQuickbar}}/> {{localize "PF1.ShowInQuickbar"}}
        </label>
        {{/if}}
      </div>

      {{!-- Spell Components --}}
      <div class="spell-components form-group stacked">
        <label>{{localize "PF1.SpellComponents"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.verbal" {{checked data.components.verbal}}/> {{localize "PF1.SpellComponentVerbal"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.somatic" {{checked data.components.somatic}}/> {{localize "PF1.SpellComponentSomatic"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.thought" {{checked data.components.thought}}/> {{localize "PF1.SpellComponentThought"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.emotion" {{checked data.components.emotion}}/> {{localize "PF1.SpellComponentEmotion"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.material" {{checked data.components.material}}/> {{localize "PF1.SpellComponentMaterial"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.focus" {{checked data.components.focus}}/> {{localize "PF1.SpellComponentFocus"}}
        </label>
      </div>

      {{!-- Misc Components --}}
      <div class="misc-components form-group stacked">
        <label>{{localize "PF1.SpellComponentsMisc"}}</label>
        <input type="text" name="data.components.value" value="{{data.components.value}}"/>
      </div>

      {{!-- Material Components --}}
      {{#if data.components.material}}
      <h3>{{localize "PF1.SpellcastingMaterials"}}</h3>
      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "PF1.Description"}}</label>
          <input class="materials" type="text" name="data.materials.value" value="{{data.materials.value}}"/>
        </div>
      </div>
      <div class="form-group">
        <div class="form-fields">
          <label>{{localize "PF1.Value"}}</label>
          <input type="text" data-dtype="Number" name="data.materials.spValue" value="{{data.materials.spValue}}"/>
        </div>
      </div>
      {{/if}}

      {{#if data.components.focus}}
      <div class="form-group stacked">
        <label>{{localize "PF1.SpellcastingFocus"}}</label>
        <input class="focus" type="text" name="data.materials.focus" value="{{data.materials.focus}}"/>
      </div>
      {{/if}}

      {{#unless isAtWill}}
      <div class="spell-misc form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="data.autoDeductCharges" {{checked data.autoDeductCharges}}/> {{localize "PF1.AutoDeductCharges"}}
        </label>
      </div>
      {{/unless}}

      <h3 class="form-header">{{localize "PF1.Traits"}}</h3>

      <div class="form-group stacked spell-traits">
        <label>{{localize "PF1.SpellTraits"}}</label>
        {{#each config.spellTraits as |name trait|}}
        <label class="checkbox">
          <input type="checkbox" name="data.traits.{{trait}}" {{checked (lookup ../data.traits trait)}}/> {{ name }}
        </label>
        {{/each}}
        <label>{{localize "PF1.SpellCritTraits"}}</label>
        {{#each config.elementCritTraits as |name trait|}}
        <label class="checkbox">
          <input type="checkbox" name="data.traits.{{trait}}" {{checked (lookup ../data.traits trait)}}/> {{ name }}
        </label>
        {{/each}}
      </div>

      <h3 class="form-header">{{localize "PF1.SpellCasting"}}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/pf1/templates/items/parts/item-activation.hbs"}}

      <h3 class="form-header">{{localize "PF1.SpellEffects"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/pf1/templates/items/parts/item-action.hbs"}}

      <h3 class="form-header">{{localize "PF1.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/pf1/templates/items/parts/item-template.hbs"}}
    </div>

    {{!-- Conditionals Tab --}}
    <div class="tab" data-group="primary" data-tab="conditionals">
      {{> "systems/pf1/templates/items/parts/item-conditionals.hbs"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
  </section>
</form>
