<form class="{{ cssClass }} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

    <div class="header-details flexrow">
      {{> "systems/pf1/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
        <li>
          {{ itemType }}
        </li>
        <li>
          {{ labels.weaponType }}
        </li>
        <li>
          {{ labels.weaponSubtype }}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    {{/unless}}
    <a class="item" data-tab="conditionals">{{localize "PF1.Conditionals"}}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{#if owner}}
      <label class="checkbox">
        <input type="checkbox" name="data.showInQuickbar" {{checked data.showInQuickbar}} />
        {{localize "PF1.ShowInQuickbar"}}
      </label>
      {{/if}}

      {{> "systems/pf1/templates/items/parts/item-aura.hbs"}}

      <h3 class="form-header">{{localize "PF1.WeaponDetails"}}</h3>
      {{#if (and owner owned)}}
      <div class="form-group">
        <button type="button" name="create-attack">{{localize "PF1.CreateAttack"}}</button>
      </div>
      {{/if}}

      {{!-- Weapon Type --}}
      <div class="form-group">
        <label>{{localize "PF1.Category"}}</label>
        <select name="data.weaponType">
          {{#select data.weaponType}}
          {{#each weaponCategories.types as |name type|}}
          <option value="{{ type }}">{{ name }}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Weapon Subtype --}}
      <div class="form-group">
        <label>{{localize "PF1.Type"}}</label>
        <select name="data.weaponSubtype">
          {{#select data.weaponSubtype}}
          {{#each weaponCategories.subTypes as |name type|}}
          <option value="{{ type }}">{{ name }}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Weapon Hold Type --}}
      <div class="form-group">
        <label>{{localize "PF1.Held"}}</label>
        <select name="data.held">
          {{#select data.held}}
          {{#each config.weaponHoldTypes as |name type|}}
          <option value="{{ type }}">{{ name }}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        <label>{{localize "PF1.EquipmentStatus"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.equipped" {{checked data.equipped}} /> {{localize "PF1.Equipped"}}
        </label>
        {{#if isGM}}
        <label class="checkbox">
          <input type="checkbox" name="data.identified" {{checked data.identified}} /> {{localize "PF1.Identified"}}
        </label>
        {{/if}}
        <label class="checkbox">
          <input type="checkbox" name="data.masterwork" {{checked data.masterwork}} /> {{localize "PF1.Masterwork"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.broken" {{checked data.broken}} /> {{localize "PF1.Broken"}}
        </label>
      </div>

      {{#unless showUnidentifiedData}}
      {{!-- Weapon Traits --}}
      <div class="form-group stacked weapon-traits">
        <label>{{localize "PF1.WeaponTraits"}}</label>
        {{#each config.weaponTraits as |name trait|}}
        <label class="checkbox">
          <input type="checkbox" name="data.traits.{{trait}}" {{checked (lookup ../data.traits trait)}}/> {{ name }}
        </label>
        {{/each}}
        <label>{{localize "PF1.SpellCritTraits"}}</label>
        {{#each config.elementCritTraits as |name trait|}}
        <label class="checkbox">
          <input type="checkbox" name="data.traits.{{trait}}" {{checked (lookup ../data.traits trait)}}/> {{ name }}
        </label>
        {{/each}}
      </div>

      <div class="form-group">
        <label>{{localize "PF1.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enh" value="{{ data.enh }}" data-dtype="Number" placeholder="0" />
        </div>
      </div>

      <h3 class="form-header">{{localize "PF1.AttackUsage"}}</h3>

      {{!-- Weapon Bonus Attack Formula --}}
      <div class="form-group">
        <label>{{localize "PF1.BonusAttackFormula"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.attackFormula" value="{{data.weaponData.attackFormula}}" placeholder="{{localize "PF1.BonusAttackFormula"}}"/>
        </div>
      </div>

      {{!-- Weapon Bonus Damage Formula --}}
      <div class="form-group">
        <label>{{localize "PF1.BonusDamageFormula"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.damageFormula" value="{{data.weaponData.damageFormula}}" placeholder="{{localize "PF1.BonusDamageFormula"}}"/>
        </div>
      </div>

      {{!-- Weapon Damage --}}
      <div class="form-group">
        <label>{{localize "PF1.BaseWeaponDamage"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.damageRoll" value="{{data.weaponData.damageRoll}}" placeholder="{{localize "PF1.DamageRoll"}}"/>
          <input type="text" name="data.weaponData.damageType" value="{{data.weaponData.damageType}}" placeholder="{{localize "PF1.DamageType"}}"/>
        </div>
      </div>

      {{!-- Weapon Critical Damage --}}
      <div class="form-group">
        <label>{{localize "PF1.BaseWeaponCritical"}}</label>
        <div class="form-fields">
          <input data-dtype="Number" type="text" name="data.weaponData.critRange" value="{{data.weaponData.critRange}}" placeholder="20"/>
          <input data-dtype="Number" type="text" name="data.weaponData.critMult" value="{{data.weaponData.critMult}}" placeholder="2"/>
        </div>
      </div>

      {{#if isDouble}}
      {{!-- Double Weapon Damage --}}
      <div class="form-group">
        <label>{{localize "PF1.DoubleWeaponDamage"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.double.damageRoll" value="{{data.weaponData.double.damageRoll}}" placeholder="{{localize "PF1.DamageRoll"}}"/>
          <input type="text" name="data.weaponData.double.damageType" value="{{data.weaponData.double.damageType}}" placeholder="{{localize "PF1.DamageType"}}"/>
        </div>
      </div>

      {{!-- Double Weapon Critical Damage --}}
      <div class="form-group">
        <label>{{localize "PF1.DoubleWeaponCritical"}}</label>
        <div class="form-fields">
          <input data-dtype="Number" type="text" name="data.weaponData.double.critRange" value="{{data.weaponData.double.critRange}}" placeholder="20"/>
          <input data-dtype="Number" type="text" name="data.weaponData.double.critMult" value="{{data.weaponData.double.critMult}}" placeholder="2"/>
        </div>
      </div>
      {{/if}}

      {{!-- Weapon Range --}}
      {{#if isRanged}}
      <div class="form-group">
        <label>{{localize "PF1.Range"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.range" value="{{data.weaponData.range}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="form-group">
        <label>{{localize "PF1.MaximumRangeIncrements"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.maxRangeIncrements" value="{{data.weaponData.maxRangeIncrements}}" data-dtype="Number"/>
        </div>
      </div>

      {{#if isProjectile}}
        <label class="checkbox">
          <input type="checkbox" name="data.weaponData.usesAmmo" {{checked data.weaponData.usesAmmo}} /> {{localize "PF1.UsesAmmo"}}
        </label>

        {{#if data.weaponData.usesAmmo}}
          <div class="form-group">
            <label>{{localize "PF1.Subtype"}}</label>
            <select name="data.weaponData.ammoType">
              {{#select data.weaponData.ammoType}}
              <option value=""></option>
              {{#each config.ammoTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        {{/if}}
      {{/if}}
      {{/if}}

      {{!-- Advanced Tag --}}
      {{> "systems/pf1/templates/items/parts/item-tag.hbs"}}
      
      <h3 class="form-header">{{localize "PF1.EquipmentUsage"}}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/pf1/templates/items/parts/item-activation.hbs"}}

      <h3 class="form-header">{{localize "PF1.Action"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/pf1/templates/items/parts/item-action.hbs"}}

      <h3 class="form-header">{{localize "PF1.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/pf1/templates/items/parts/item-template.hbs"}}
      {{/unless}}
    </div>

    {{!-- Conditionals Tab --}}
    <div class="tab" data-group="primary" data-tab="conditionals">
      {{> "systems/pf1/templates/items/parts/item-conditionals.hbs"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
