{{!-- Spellbook Navigation --}}
<nav class="sheet-navigation tabs spellbooks" data-group="spellbooks">
  {{#each data.attributes.spells.spellbooks as |spellbook a|}}
  {{#ifGreaterThan spellbook.tier -1}}
  <a class="item title-case" data-tab="{{a}}">{{#if spellbook.altName}}{{spellbook.altName}}{{else}}
    {{#if (and spellbook.class (ne spellbook.class "_hd"))}}{{~spellbook.class}}{{else}}{{~spellbook.name}}{{/if}}{{/if}}</a>
  {{/ifGreaterThan}}
  {{/each}}
</nav>

<section class="spellbooks-body">
  {{#each spellbookData as |spellbook a|}}
  {{#ifGreaterThan spellbook.orig.tier -1}}
  <div class="tab spellbook-group flexcol" data-group="spellbooks" data-tab="{{a}}">
  {{~> "systems/pf1/templates/actors/parts/actor-spellbook.hbs" spellbook=spellbook spellbookIndex=a
    data=../data owner=../owner filters=../filters.spellbook isCharacter=../isCharacter config=../config
    spellFailure=../spellFailure hiddenElems=../hiddenElems sourceDetails=../sourceDetails}}
  </div>
  {{/ifGreaterThan}}
  {{/each}}
</section>
