{{!-- Misc Combat Header --}}
<div class="attributes combat-offenses">
  <ul class="attributes flexrow">
    {{!-- Offense --}}
    <li class="generic-offenses flexrow">
      <h3>{{localize "PF1.Combat"}}</h3>
    </li>

    {{!-- BAB --}}
    <li class="flexrow">
      <h3 class="tooltip">
        <div class="tooltipcontent">
          @attributes.bab.value : {{data.attributes.bab.value}}<br/>
          @attributes.bab.total : {{data.attributes.bab.total}}<br/>
        </div>
        {{localize "PF1.BAB"}}
      </h3>
      <input name="data.attributes.bab.total" type="number" placeholder="{{localize "PF1.BAB"}}" value="{{data.attributes.bab.total}}"/>
    </li>
  </ul>

  <div class="attributes">
    <table class="offenses-table">
      <thead>
        <tr>
          <th class="tooltip" colspan="2">
            <div class="tooltipcontent">
              @attributes.init.value : {{data.attributes.init.value}}<br/>
              @attributes.init.bonus : {{data.attributes.init.bonus}}<br/>
              @attributes.init.total : {{data.attributes.init.total}}<br/>
            </div>

            {{localize "PF1.Initiative"}}
          </th>

          <th class="attribute cmb tooltip" data-attribute="cmb" colspan="2">
            <div class="tooltipcontent">
              @attributes.cmb.value : {{data.attributes.cmb.value}}<br/>
              @attributes.cmb.bonus : {{data.attributes.cmb.bonus}}<br/>
              @attributes.cmb.total : {{data.attributes.cmb.total}}<br/>
            </div>

            <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CMB"}}</span></a>
          </th>
          
          <th class="tooltip" colspan="2">
            <div class="tooltipcontent">
              @attributes.cmd.value : {{data.attributes.cmd.value}}<br/>
              @attributes.cmd.bonus : {{data.attributes.cmd.bonus}}<br/>
              @attributes.cmd.total : {{data.attributes.cmd.total}}<br/>
            </div>

            {{localize "PF1.CMD"}}
          </th>
        </tr>

        <tr>
          <th>{{localize "PF1.Total"}}</th>
          <th>{{localize "PF1.Bonus"}}</th>
          <th>{{localize "PF1.Total"}}</th>
          <th>{{localize "PF1.Bonus"}}</th>
          <th>{{localize "PF1.Total"}}</th>
          <th>{{localize "PF1.Bonus"}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          {{!-- Total --}}
          <td>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</td>

          {{!-- Bonus --}}
          <td>
              <span class="text-box direct" name="data.attributes.init.bonus" data-dtype="Number">{{data.attributes.init.bonus}}</span>
          </td>

          {{!-- Total --}}
          <td>{{numberFormat data.attributes.cmb.total decimals=0 sign=true}}</td>

          {{!-- Bonus --}}
          <td>
              <span class="text-box direct" name="data.attributes.cmb.bonus" data-dtype="Number">{{data.attributes.cmb.bonus}}</span>
          </td>

          {{!-- Total --}}
          <td>{{numberFormat data.attributes.cmd.total decimals=0}}</td>

          {{!-- Bonus --}}
          <td>
              <span class="text-box direct" name="data.attributes.cmd.bonus" data-dtype="Number">{{data.attributes.cmd.bonus}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

{{!-- Attack Filters --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="attacks"}}

  <ul class="filter-list flexrow" data-filter="attacks">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

{{!-- Attacks Header --}}
<div class="combat-attacks">
  <section class="attacks-body">
    {{#each sections as |section sid|}}
    {{#unless section._hidden}}
    <div class="inventory-group flexcol">
      <ol class="inventory-list">
        <li class="inventory-header flexrow attacks-{{sid}}">
          <h3 class="item-name flexrow">{{section.label}}</h3>

          {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" title="{{localize "PF1.Type"}}"></i></div>{{/if}}

          <div class="item-detail item-attacks">
            <label>{{localize "PF1.Attacks"}}</label>
          </div>

          <div class="item-detail item-damage">
              <label>{{localize "PF1.Damage"}}</label>
          </div>

          <div class="item-detail item-range">
              <label>{{localize "PF1.Range"}}</label>
          </div>

          <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>

          <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "PF1.ChargePlural"}}"></i></div>

          {{#if ../owner}}
          <div class="item-controls">
            {{#if section.canCreate}}
            <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
              <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
            </a>
            <a data-action="compendium" data-action-target="attacks" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
            {{/if}}
          </div>
          {{/if}}
        </li>

        <ol class="item-list">
          {{#each section.items as |item iid|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
              <div class="item-image" style='background-image: url("{{item.img}}")'></div>
              <h4>
                {{item.name~}}
              </h4>
            </div>

            {{#if section.showTypes}}
            <div class="item-detail item-type">
              <span>{{lookup ../../config.attackTypes item.data.attackType}}</span>
            </div>
            {{/if}}

            <div class="item-detail item-attacks tooltip">
              {{#if item.hasAttack}}
              <label>{{itemAttacks item ../../rollData max=3}}</label>
              <span class="tooltipcontent">
                {{#each item.document.attackArray~}}
                  {{numberFormat this decimals=0 sign=true}}{{#unless @last}}/{{/unless}}
                {{~/each}}<br/>
                <br/>
                {{localize "PF1.Details"}}:<br/>
                {{#each item.document.attackSources}}
                  {{this.label}} : {{this.value}}<br/>
                {{/each}}
              </span>
              {{/if}}
            </div>

            <div class="item-detail item-damage tooltip">
              {{#if item.hasDamage}}
              <label>{{ellipsis (itemDamage item ../../rollData) 8 -4 2}}</label>
              <span class="tooltipcontent">
                {{itemDamage item ../../rollData}}<br/>
                <br/>
                {{localize "PF1.Details"}}:<br/>
                {{#each item.data.damage.parts as |pt ix|}}
                  {{pt.[0]}}{{#if pt.[1]}} [{{pt.[1]}}]{{/if}}<br/>
                {{/each}}
                {{#if item.data.damage.nonCritParts}}
                  {{#each item.data.damage.nonCritParts as |pt|}}
                    {{pt.[0]}}{{#if pt.[1]}} [{{pt.[1]}}]{{/if}}<br/>
                  {{/each}}
                {{/if}}
                {{#if item.data.ability.damage}}
                  {{abilityMod item.data.ability.damage ../../rollData item.data.ability.damageMult}} [{{lookup ../../config.abilities item.data.ability.damage}}]<br/>
                {{/if}}
                {{#each item.document.allDamageSources}}
                  {{#if @first}}<br>{{/if}}
                  {{flavor}} : {{value}} [{{#if type}}{{type}}{{else}}{{lookup @root.config.bonusModifiers modifier}}{{/if}}]<br>
                {{/each}}
                {{#if (optionalConditionals item)}}
                  <br/>+ {{localize "PF1.Conditionals"}}<br/>
                {{/if}}
                {{#if item.data.damage.critParts}}
                  <br/>+ {{localize "PF1.CritDamageBonusFormula"}}<br/>
                {{/if}}
              </span>
              {{/if}}
            </div>

            <div class="item-detail item-range tooltip">
              {{#if item.hasRange}}
              <label>{{itemRange item @root.rollData}}</label>
                {{#if (or (gt item.data.range.maxIncrements 1) (ne item.data.range.minUnits ""))}}
                <span class="tooltipcontent">
                  {{localize "PF1.MaximumRangeIncrements"}}: {{item.data.range.maxIncrements}}<br>
                  <br>
                  {{localize "PF1.Range"}}:
                  {{item.document.minRange}} {{distanceUnit "ft"}} – {{item.document.maxRange}} {{distanceUnit item.data.range.units}}
                </span>
                {{/if}}
              {{/if}}
            </div>

            <div class="item-detail item-actions">
              <div class="item-attack tooltip">
                {{#if item.hasAction}}
                <span class="tooltipcontent">
                  {{localize "PF1.PerformAttack"}}
                </span>
                <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                {{/if}}
              </div>
            </div>

            <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
              {{#if item.isCharged}}
              <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.data.uses.value}}</span>
              <span class="sep"> / </span>
              <span class="text-box">{{item.data.uses.max}}</span>
              <span class="tooltipcontent">
                @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                @resources.{{item.tag}}.max : {{item.data.uses.max}}
              </span>
              {{/if}}
            </div>

            {{#if ../../owner}}
            <div class="item-controls">
              <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
              <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ol>
      </ol>
    </div>
    {{/unless}}
    {{/each}}
  </section>
</div>

<hr>

{{!-- Defenses Header --}}
<div class="combat-defenses">
  <ul class="attributes flexrow">
    {{!-- Roll Defenses --}}
    <li class="generic-defenses flexrow" data-drag="defenses">
      <div class="rollable image-d20"></div>
      <h3>{{localize "PF1.Defenses"}}</h3>
    </li>

    {{!-- Spell Resistance --}}
    <li class="flexrow">
      <h3>{{localize "PF1.SpellResistance"}}</h3>
      <input name="data.attributes.sr.formula" type="text" placeholder="{{localize "PF1.Formula"}}"
        value="{{#if data.attributes.sr.formula}}{{data.attributes.sr.formula}}{{/if}}"/>
    </li>
  </ul>

  <div class="attributes">
    <table class="armor">
      <thead>
        <tr>
          <th>{{localize "PF1.BonusModifierNatural"}}</th>
          <th>{{localize "PF1.BonusModifierDodge"}}</th>
          <th>{{localize "PF1.BonusModifierDeflection"}}</th>
          <th>{{localize "PF1.BonusModifierLuck"}}</th>
          <th>{{localize "PF1.Other"}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <span class="text-box direct" name="data.attributes.armor.natural" data-dtype="Number">{{data.attributes.armor.natural}}</span>
          </td>
          <td>
            <span class="text-box direct" name="data.attributes.armor.dodge" data-dtype="Number">{{data.attributes.armor.dodge}}</span>
          </td>
          <td>
            <span class="text-box direct" name="data.attributes.armor.deflection" data-dtype="Number">{{data.attributes.armor.deflection}}</span>
          </td>
          <td>
            <span class="text-box direct" name="data.attributes.armor.luck" data-dtype="Number">{{data.attributes.armor.luck}}</span>
          </td>
          <td>
            <span class="text-box direct" name="data.attributes.armor.other" data-dtype="Number">{{data.attributes.armor.other}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {{> "systems/pf1/templates/actors/parts/actor-defenses_tables.hbs"}}

  <div class="attributes defense-notes flexcol scroll-primary" data-scroll-index="defense-notes">
    <div class="flexrow">
      <label><h3>{{localize "PF1.SaveNotes"}}</h3></label>
      <textarea class="context-text" name="data.attributes.saveNotes" placeholder="{{localize "PF1.SaveNotes"}}">{{data.attributes.saveNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.ACNotes"}}</h3></label>
      <textarea class="context-text" name="data.attributes.acNotes" placeholder="{{localize "PF1.ACNotes"}}">{{data.attributes.acNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.CMDNotes"}}</h3></label>
      <textarea class="context-text" name="data.attributes.cmdNotes" placeholder="{{localize "PF1.CMDNotes"}}">{{data.attributes.cmdNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.SpellResistanceNotes"}}</h3></label>
      <textarea class="context-text" name="data.attributes.srNotes" placeholder="{{localize "PF1.SpellResistanceNotes"}}">{{data.attributes.srNotes}}</textarea>
    </div>
    <hr>
  </div>
</div>
