{{!-- Skill Rank Info --}}
<div class="flexcol skill-rank">
  <ol class="form-group">
    <li class="flexrow skill-rank-formula">
      <label>{{localize "PF1.SkillBonusRankFormula"}}</label>
      <input class="formula" type="text" name="data.details.bonusSkillRankFormula" value="{{data.details.bonusSkillRankFormula}}" placeholder="{{localize "PF1.Formula"}}"/>
    </li>
  </ol>
  <ol class="form-group">
    <section class="skillset-body">
      <div class="tab flexcol" data-group="skillset" data-tab="all">
        {{!-- Skills --}}
        <ul class="skills-list" data-background="false">
          {{#each data.aspects as |aspect id|}}
          <li class="tooltip" colspan="2">
            <table>
              <thead>
                <tr>
                  <th class="tooltip" colspan="2">
                    <div class="tooltipcontent">
                      @aspects.{{id}}.aspect : {{aspect.aspect}}<br/>
                      @aspects.{{id}}.mod : {{aspect.mod}}<br/>
                    </div>

                    {{aspect.label}}
                  </th>
                </tr>

                <tr>
                  <th>{{localize "PF1.SkillRankPlural"}}</th>
                  <th>{{localize "PF1.Used"}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {{#each ../skillRanks as |ranks r|}}
                  {{#ifEquals r aspect.aspect}}
                    <td class="center">{{ranks.allowed}}</td>
                    <td class="center">{{ranks.used}}</td>
                  {{/ifEquals}}
                  {{/each}}
                </tr>
              </tbody>
            </table>
          </li>
          
          <li>
            <ul class="skills-list adventure {{aspect}}" data-background="{{isBackgroundSkills}}">
              {{#each ../skillsets.all.skills as |skill s|}}
              {{#ifEquals skill.aspect aspect.aspect}}
              <li class="skill flexrow" data-skill="{{s}}">
                <div class="skill-name tooltip {{#if skill.untrained}}untrained{{/if}}">
                  <span class="tooltipcontent">
                    @skills.{{s}}.mod : {{skill.mod}}<br>
                    @skills.{{s}}.rank : {{skill.rank}}<br>
                    @skills.{{s}}.misc : {{skill.misc}}<br>
                    @skills.{{s}}.aspect : {{skill.aspect}}<br>

                    {{#if skill.sourceDetails.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each skill.sourceDetails as |src|}}
                    {{src.name}}: {{src.value}}<br/>
                    {{/each}}
                    {{/if}}
                  </span>
                  <div class="rollable"><img src="../../icons/dice/d20black.svg"></div>
                  {{#if skill.custom}}
                  <input type="text" name="data.skills.{{s}}.name" value="{{skill.name}}" placeholder="{{localize "PF1.Name"}}"/>
                  {{else}}
                  {{#if compendiumEntry}}
                  <a class="compendium-entry" data-compendium-entry="{{compendiumEntry}}">
                    <h4>{{skill.label}}</h4><i class="fas fa-book compendium-icon"></i>
                  </a>
                  {{else}}
                  <h4>{{skill.label}}</h4>
                  {{/if}}
                  {{/if}}
                </div>
                <span class="text-box skill-mod" title="{{localize "PF1.SkillModTooltip"}}">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                <span class="text-box skill-rank" name="data.skills.{{s}}.rank" data-dtype="Number" title="{{localize "PF1.SkillRankPlural"}}" data-placeholder="{{localize "PF1.Rank"}}">{{#if skill.rank}}{{skill.rank}}{{/if}}</span>
                <span class="text-box skill-misc direct" name="data.skills.{{s}}.misc" data-dtype="Number" title="{{localize "PF1.Misc"}}" data-placeholder="{{localize "PF1.MiscShort"}}">{{#if skill.misc}}{{skill.misc}}{{/if}}</span>
                <label class="checkbox skill-acp">
                  <abbr title="{{localize "PF1.ACPTooltip"}}">{{localize "PF1.ACP"}}</abbr> <input type="checkbox" name="data.skills.{{s}}.acp" {{checked skill.acp}}/>
                </label>
                <div class="form-group skill-ability">
                  <select class="skill-ability" name="data.skills.{{s}}.ability" data-dtype="String">
                    {{#select skill.ability}}
                    {{#each ../../config.abilitiesShort as |ability a|}}
                    <option value="{{a}}">{{ability}}</option>
                    {{/each}}
                    {{#each ../../config.aspectsShort as |aspect a|}}
                    <option value="{{a}}">{{aspect}}</option>
                    {{/each}}
                    {{/select}}
                  </select>
                </div>
              </li>
              {{/ifEquals}}
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </div>
    </section>
  </ol>
</div>

<nav class="sheet-navigation tabs" data-group="skillset" style="display: none">
  <a class="item" data-tab="all">{{localize "PF1.AllSkills"}}</a>
</nav>
