<table class='defenses'>
    <thead>
        <tr>
            {{#each data.attributes.ac as |ac id|}}
            <th class="tooltip">
                <div class="tooltipcontent">
                @attributes.ac.{{id}}.total : {{ac.total}}<br/>
                @armor.type : {{../rollData.armor.type}}<br/>
                @shield.type : {{../rollData.shield.type}}

                {{#if ac.sourceDetails.length}}
                <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                {{#each ac.sourceDetails as |src|}}
                {{src.name}}: {{src.value}}<br/>
                {{/each}}
                {{/if}}

                {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.ac"}}
                </div>

                {{ac.label}}
            </th>
            {{/each}}
            <th class="tooltip">
                <div class="tooltipcontent">
                @attributes.cmd.total : {{data.attributes.cmd.total}}

                {{#if sourceDetails.data.attributes.cmd.total.length}}
                <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                {{#each sourceDetails.data.attributes.cmd.total as |src|}}
                {{src.name}}: {{src.value}}<br/>
                {{/each}}
                {{/if}}

                {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.cmd"}}
                </div>

                {{localize "PF1.CMDAbbr"}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each data.attributes.ac as |ac id|}}
            <td class='ac-{{id}}'>
                {{ac.total}}
            </td>
            {{/each}}
            <td class='cmd'>
                {{data.attributes.cmd.total}}
            </td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            {{#each data.attributes.savingThrows as |savingThrow id|}}
            <th class="saving-throw tooltip" data-savingthrow="{{id}}" data-draggable="true">
                <div class="tooltipcontent">
                @attributes.savingThrows.{{id}}.total : {{savingThrow.total}}

                {{#if savingThrow.sourceDetails.length}}
                <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                {{#each savingThrow.sourceDetails as |src|}}
                {{src.name}}: {{src.value}}<br/>
                {{/each}}
                {{/if}}
                {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "savingThrow." id)}}
                </div>

                <a class="rollable"><i class="fas fa-dice"></i><span>{{savingThrow.label}}</span></a>
            </th>
            {{/each}}
            <th class="tooltip">
                <div class="tooltipcontent">
                @attributes.sr.total : {{data.attributes.sr.total}}

                {{#if sourceDetails.data.attributes.sr.total.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.sr.total as |src|}}
                    {{src.name}}: {{src.value}}<br/>
                  {{/each}}
                {{/if}}

                {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.sr"}}
                </div>

                {{localize "PF1.SpellResistance"}}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            {{#each data.attributes.savingThrows as |savingThrow id|}}
            <td class='{{id}}'>{{numberFormat savingThrow.total decimals=0 sign=true}}</td>
            {{/each}}
            <td class='sr'>{{data.attributes.sr.total}}</td>
        </tr>
    </tbody>
</table>
