<div class="flexrow summary-header">
  <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

  <div class="flexcol">
    <div class="flexrow name-xp">
      <div>
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" title="{{localize "PF1.CharacterName"}}"/>
        </h1>
      </div>

      {{#if isCharacter}}
      <div class="hd-level character tooltip">
        <span class="tooltipcontent">
          @details.level.value : {{data.details.level.value}}<br/>
        </span>

        <table>
          <thead>
            <tr>
              <th class="level">{{localize "PF1.Level"}}</th>
              <th class="experience">{{localize "PF1.Experience"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="level">
                <span class="text-box direct level-input" name="data.details.level.value" data-dtype="Number">
                  {{data.details.level.value}}
                </span>              
              </td>
              <td class="experience">
                <div class="flexrow">
                  <span class="text-box direct allow-relative no-value-cap" name="data.details.xp.value" data-dtype="Number">{{data.details.xp.value}}</span>
                  <span class="separator"> / </span>
                  <span class="text-box max readonly">{{data.details.xp.max}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="xpbar">
          {{#if data.details.xp.pct}}
          <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
          {{/if}}
        </div>
      </div>
      {{else}}
      <div class="hd-level npc tooltip flexrow">
        <table>
          <thead>
            <tr>
              {{#if isNPC}}
              <th>{{localize "PF1.ChallengeRatingShort"}}</th>
              {{else}}
              <th>{{localize "PF1.Level"}}</th>
              {{/if}}
              <th>{{localize "PF1.Experience"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="text-box cr-input" name="data.details.cr.base">{{labels.cr}}</span>
              </td>
              <td class="experience">
                {{data.details.xp.value}}
              </td>
            </tr>
          </tbody>
        </table>

        <span class="tooltipcontent">
          @attributes.hd.total : {{data.attributes.hd.total}}<br/>
          @attributes.hd.size : {{data.attributes.hd.size}}<br/>
          @details.cr.base : {{data.details.cr.base}}<br/>
          @details.cr.total : {{data.details.cr.total}}
        </span>
      </div>
      {{/if}}
    </div>

    {{#if isCharacter}}
    {{!-- Character Summary --}}
    <div class="character-summary flexrow">
      <div>
        <input type="text" name="data.details.gender" value="{{data.details.gender}}" placeholder="{{localize "PF1.Gender"}}" title="{{localize "PF1.Gender"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.deity" value="{{data.details.deity}}" placeholder="{{localize "PF1.Deity"}}" title="{{localize "PF1.Deity"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.age" value="{{data.details.age}}" placeholder="{{localize "PF1.Age"}}" title="{{localize "PF1.Age"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.height" value="{{data.details.height}}" placeholder="{{localize "PF1.Height"}}" title="{{localize "PF1.Height"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.weight" value="{{data.details.weight}}" placeholder="{{localize "PF1.Weight"}}" title="{{localize "PF1.Weight"}}"/>
      </div>
      <div>
        <span readonly class="text-box vision">{{data.attributes.vision.label}}</span>      
      </div>
    </div>
    {{/if}}

    <div class="flexrow">
      <div class="race-container item flexrow" {{#if race}}data-item-id="{{race._id}}"{{/if}} title="{{localize "PF1.Race"}}">
        <div class="race item-image rollable" style="background-image: url({{race.img}})" title="{{labels.race}}">
          {{#unless race}}{{localize "PF1.Race"}}{{/unless}}
        </div>

        <div class="item-controls flexcol">
          {{#if owner}}
          {{#unless race}}
          <a class="item-control add" title="{{localize "PF1.CreateItem"}}"><i class="fas fa-plus"></i></a>
          <a data-action="compendium" data-action-target="races" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
          {{/unless}}
          {{#if race}}
          <a class="item-control edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
          <a class="item-control delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          {{/if}}
          {{/if}}
        </div>

        {{#if race}}
        <div class="race-info tag-list">
          <span class="tag type3">{{lookup config.creatureTypes race.data.creatureType}}</span>
          {{#each race.data.subTypes as |v|}}
          <span class="tag">{{v}}</span>
          {{/each}}
        </div>
        {{/if}}
        {{#if isCharacter}}
        {{!-- Hit Dice --}}
        <div class="actor-quick-actions">
          <div class="hd tooltip">
            <span class="tooltipcontent">
              @details.level.value : {{data.details.level.value}}<br/>
              @attributes.hd.current : {{data.attributes.hd.current}}<br/>
              @attributes.hd.total : {{data.attributes.hd.total}}<br/>
              @attributes.hd.size : {{data.attributes.hd.size}}<br/>
            </span>

            <table>
              <thead>
                <tr>
                  <th class="hit-dice" data-attribute="hd">
                    <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.HitDice"}}</span></a>
                  </th>
                  <th class="size">{{localize "PF1.Size"}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="hit-dice">
                    <div class="flexrow">
                      <span class="text-box direct" name="data.attributes.hd.current" data-dtype="Number">{{data.attributes.hd.current}}</span>
                      <span class="separator"> / </span>
                      <span class="text-box max readonly">{{data.attributes.hd.total}}</span>
                    </div>
                  </td>
                  <td class="size">
                    <span class="text-box hd-size readonly">{{data.attributes.hd.size}}</span>              
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {{/if}}
      </div>
      {{#if (or isCharacter (not isNPC))}}
      <div class="flexrow item-list misc-header-items">
        {{!-- Rest --}}
        <div class="actor-quick-actions">
          <button type="button" class="rest"><i class="fas fa-bed"></i> {{localize "PF1.Rest"}}</button>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{!-- Header Attributes --}}
<div class="attributes">
  <table class="health-table health-resolve">
    <thead>
      <tr>
        <th class="tooltip hp" colspan="3">
          <div class="tooltipcontent">
            @attributes.hp.value : {{data.attributes.hp.value}}<br/>
            @attributes.hp.base : {{data.attributes.hp.base}}<br/>
            @attributes.hp.max : {{data.attributes.hp.max}}<br/>
            @attributes.hp.temp : {{data.attributes.hp.temp}}<br/>
          </div>
          
          {{#if (or isCharacter (not isNPC))}}
          <a class="rollable"><i class="fas fa-dice"></i><span>
            {{localize "PF1.HitPoints"}}
          </span></a>
          {{else}}
          {{localize "PF1.HitPoints"}}
          {{/if}}
        </th>

        <th class="tooltip" colspan="3">
          <div class="tooltipcontent">
            @attributes.resolve.value : {{data.attributes.resolve.value}}<br/>
            @attributes.resolve.base : {{data.attributes.resolve.base}}<br/>
            @attributes.resolve.max : {{data.attributes.resolve.max}}<br/>
            @attributes.resolve.temp : {{data.attributes.resolve.temp}}
          </div>

          {{localize "PF1.Resolve"}}
        </th>
      </tr>

      <tr>
        <th>{{localize "PF1.Current"}}</th>
        <th>{{localize "PF1.Maximum"}}</th>
        <th>{{localize "PF1.TempShort"}}</th>
        <th>{{localize "PF1.Current"}}</th>
        <th>{{localize "PF1.Maximum"}}</th>
        <th>{{localize "PF1.TempShort"}}</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <span class="text-box direct hp-current-input" name="data.attributes.hp.value" data-dtype="Number">
            {{data.attributes.hp.value}}
          </span>
        </td>
        <td>
          {{#if isCharacter}}
          <span readonly class="text-box" name="data.attributes.hp.max">
            {{data.attributes.hp.max}}
          </span>
          {{else}}
          <span class="text-box direct hp-max-input" name="data.attributes.hp.max" data-dtype="Number">
            {{data.attributes.hp.max}}
          </span>
          {{/if}}
        </td>
        <td>
          <span class="text-box direct hp-temp-input" name="data.attributes.hp.temp" data-dtype="Number">
            {{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{/if}}
          </span>
        </td>
        <td>
          <span class="text-box direct resolve-current-input" name="data.attributes.resolve.value" data-dtype="Number">
            {{data.attributes.resolve.value}}
          </span>
        </td>
        <td>
          <span class="text-box direct resolve-max-input" name="data.attributes.resolve.base" data-dtype="Number">
            {{data.attributes.resolve.max}}
          </span>
        </td>
        <td>
          <span class="text-box direct resolve-temp-input" name="data.attributes.resolve.temp" data-dtype="Number">
            {{#if data.attributes.resolve.temp}}{{data.attributes.resolve.temp}}{{/if}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="attributes">
  <table class="speed-table">
    <thead>
      <tr>
        <th colspan="6">{{localize "PF1.Speed"}}</th>
      </tr>
      <tr>
        <th>{{localize "PF1.Base"}}</th>
        <th>{{localize "PF1.SpeedLand_Short"}}</th>
        <th>{{localize "PF1.SpeedClimb_Short"}}</th>
        <th>{{localize "PF1.SpeedSwim_Short"}}</th>
        <th>{{localize "PF1.SpeedBurrow_Short"}}</th>
        <th>{{localize "PF1.SpeedFly_Short"}}</th>
      </tr>
    </thead>

    <tbody>
      <td class="tooltip">
        <span class="text-box direct speed" name="data.attributes.speed.land.base" data-dtype="Number">
          {{#if data.attributes.speed.land.base}}{{convertDistance data.attributes.speed.land.base}}{{/if}}
        </span>

        <div class="tooltipcontent">
          @attributes.speed.land.total : {{convertDistance data.attributes.speed.land.total}}
          {{#if sourceDetails.data.attributes.speed.land.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.land.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
        </div>
      </td>
      <td class="tooltip">
        <span readonly class="text-box speed">
          {{#if data.attributes.speed.land.base}}{{convertDistance data.attributes.speed.land.total}}{{/if}}
        </span>

        <div class="tooltipcontent">
          @attributes.speed.land.total : {{convertDistance data.attributes.speed.land.total}}
          {{#if sourceDetails.data.attributes.speed.land.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.land.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
        </div>
      </td>
      <td class="tooltip">
        <span class="text-box direct speed" name="data.attributes.speed.climb.base" data-dtype="Number">
          {{#if data.attributes.speed.climb.base}}{{convertDistance data.attributes.speed.climb.total}}{{/if}}
        </span>

        <div class="tooltipcontent">
          @attributes.speed.climb.total : {{convertDistance data.attributes.speed.climb.total}}
          {{#if sourceDetails.data.attributes.speed.climb.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.climb.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
        </div>
      </td>
      <td class="tooltip">
        <span class="text-box direct speed" name="data.attributes.speed.swim.base" data-dtype="Number">
          {{#if data.attributes.speed.swim.base}}{{convertDistance data.attributes.speed.swim.total}}{{/if}}
        </span>

        <div class="tooltipcontent">
          @attributes.speed.swim.total : {{convertDistance data.attributes.speed.swim.total}}
          {{#if sourceDetails.data.attributes.speed.swim.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.swim.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
        </div>
      </td>
      <td class="tooltip">
        <span class="text-box direct speed" name="data.attributes.speed.burrow.base" data-dtype="Number">
          {{#if data.attributes.speed.burrow.base}}{{convertDistance data.attributes.speed.burrow.total}}{{/if}}
        </span>

        <div class="tooltipcontent">
          @attributes.speed.burrow.total : {{convertDistance data.attributes.speed.burrow.total}}
          {{#if sourceDetails.data.attributes.speed.burrow.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.burrow.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
        </div>
      </td>
      <td class="tooltip">
        <span class="text-box direct speed" name="data.attributes.speed.fly.base" data-dtype="Number">
          {{#if data.attributes.speed.fly.base}}{{convertDistance data.attributes.speed.fly.total}}{{/if}}
        </span>

        <div class="tooltipcontent">
          @attributes.speed.fly.total : {{data.attributes.speed.fly.total}}<br/>
          {{#if sourceDetails.data.attributes.speed.fly.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.speed.fly.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
          {{/if}}
        </div>
      </td>
    </tbody>
  </table>
</div>

{{!-- Footer Navigation --}}
<nav class="sheet-navigation tabs subtabs subdetails" data-group="subdetails">
  <a class="item active" data-tab="quick-info">{{localize "PF1.QuickInfo"}}</a>
</nav>

<section class="subdetails-body">
  <div class="quick-info">
    <div class="flexcol">
      {{!-- Roll Defenses --}}
      <li class="generic-defenses flexrow" data-drag="defenses">
        <div class="rollable image-d20"></div>
        <label><h3>{{localize "PF1.Defenses"}}</h3></label>
      </li>

      {{> "systems/pf1/templates/actors/parts/actor-defenses_tables.hbs"}}

      <table>
        <thead>
          <tr>
            <th class="attribute attack melee">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Melee"}}</span></a>
            </th>
            <th class="attribute attack ranged">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Ranged"}}</span></a>
            </th>
            <th class="attribute cmb" data-attribute="cmb">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CMBAbbr"}}</span></a>
            </th>
            <th class="attribute initiative" data-attribute="initiative">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Initiative"}}</span></a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="tooltip">
              {{data.attributes.attack.meleeAbility}}
            </td>

            <td class="tooltip">
              {{data.attributes.attack.rangedAbility}}
            </td>

            <td class="tooltip">
              <div class="tooltipcontent">
              @attributes.cmb.total : {{data.attributes.cmb.total}}

              {{#if sourceDetails.data.attributes.cmb.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.cmb.total as |src|}}
              {{src.name}}: {{src.value}}<br/>
              {{/each}}
              {{/if}}

              {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.cmb"}}
              </div>

              {{numberFormat data.attributes.cmb.total decimals=0 sign=true}}
            </td>

            <td class="tooltip initiative">
              <span class="tooltipcontent">
                @attributes.init.total : {{data.attributes.init.total}}
                {{#if sourceDetails.data.attributes.init.total.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}

                {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.init"}}
              </span>
              {{data.attributes.init.total}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    {{!-- Quick Actions --}}
    <h2>{{localize "PF1.QuickActions"}}</h2>

    <div class="flexrow">
      <ol class="quick-actions">
        {{#each quickActions as |i|}}
        <li class="item" data-item-id="{{i.item.id}}" data-type="{{i.item.type}}" style="border-color: {{i.color1}};" title="{{i.item.name}}">
          <img src="{{i.item.img}}">
          <span class="icon-label">{{i.item.name}}</span>
          {{#if i.haveAnyCharges}}
          <charges>
            {{#if i.recharging}}
            <span class="recharge">+{{i.charges}}</span>
            {{else}}
            <span class="remaining">{{i.charges}}</span>
            {{#if i.maxCharge}}
            <span class="delimiter">/</span>
            <span class="max">{{i.maxCharge}}</span>
            {{/if}}
            {{/if}}
          </charges>
          {{/if}}
        </li>
        {{/each}}
      </ol>
      <textarea class="context-text" name="data.attributes.summaryNotes" placeholder="{{localize "PF1.SummaryNotes"}}">{{data.attributes.summaryNotes}}</textarea>
    </div>
  </div>
</section>
