<div class="flexrow summary-header">
  <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

  <div class="flexcol">
    <div class="flexrow name-xp">
      <div>
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" title="{{localize "PF1.CharacterName"}}"/>
        </h1>
      </div>
    </div>
  </div>
</div>
