<div class="inventory-filters spellbook-filters">
  <div class="flexrow spellcasting-misc pf1-sheet-group">
    <div class="spellcasting-misc flexrow">
      <table class="spellcasting-table">
        <thead>
          <tr>
            <th class="tooltip">
              <div class="tooltipcontent">
                @spellbook.orig.tier : {{spellbook.orig.tier}}<br/>
              </div>

              {{localize "PF1.CastingTier"}}
            </th>

            <th class="spellcasting-cl tooltip">
              <div class="tooltipcontent">
                @spellbook.orig.cl.total : {{spellbook.orig.cl.total}}<br/>
                @spellbook.orig.cl.ability : {{spellbook.orig.cl.ability}}<br/>
                @spellbook.orig.cl.formula : {{spellbook.orig.cl.formula}}<br/>
              </div>
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CasterLevel"}}</span></a>
            </th>

            {{#if (ne spellbookIndex "occult")}}
            <th class="tooltip">
              <div class="tooltipcontent">
                @spellbook.orig.attack.total : {{spellbook.orig.attack.total}}<br/>
                @spellbook.orig.attack.ability : {{spellbook.orig.attack.ability}}<br/>
                @spellbook.orig.attack.formula : {{spellbook.orig.attack.formula}}<br/>
              </div>
              {{#ifEquals spellbookIndex "arcane"}}
              {{localize "PF1.SpellAttackBonus"}}
              {{/ifEquals}}
              {{#ifEquals spellbookIndex "divine"}}
              {{localize "PF1.SpellBaseDC"}}
              {{/ifEquals}}
            </th>
            {{/if}}

            <th class="spellcasting-concentration tooltip">
              <div class="tooltipcontent">
                @spellbook.orig.concentration.total : {{spellbook.orig.concentration.total}}<br/>
                @spellbook.orig.concentration.skill : {{spellbook.orig.concentration.skill}}<br/>
                @spellbook.orig.concentration.formula : {{spellbook.orig.concentration.formula}}<br/>
              </div>
              <a class="rollable" data-compendium-entry="{{lookup config.conditionCompendiumEntries "concentrating"}}"><i class="fas fa-dice"></i><span>{{localize "PF1.Concentration"}}</span></a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="text-box direct casting-tier-input" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.tier" data-dtype="Number">
                {{spellbook.orig.tier}}
              </span>
            </td>
            <td>
              <span readonly class="text-box" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.cl.total">
                {{spellbook.orig.cl.total}}
              </span>
            </td>
            {{#if (ne spellbookIndex "occult")}}
            <td>
              <span readonly class="text-box" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.attack.total">
                {{spellbook.orig.attack.total}}
              </span>
            </td>
            {{/if}}
            <td>
              <span readonly class="text-box" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.concentration.total">
                {{spellbook.orig.concentration.total}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flexrow spellcasting-pool pf1-sheet-group">
    <div class="spellcasting-pool flexrow">
      <div class="casting-pool character tooltip">
        <span class="tooltipcontent">
          @spellbook.orig.pool.value : {{spellbook.orig.pool.value}}<br/>
          @spellbook.orig.pool.max : {{spellbook.orig.pool.max}}<br/>
          @spellbook.orig.pool.ability : {{spellbook.orig.pool.ability}}<br/>
          @spellbook.orig.pool.formula : {{spellbook.orig.pool.formula}}<br/>
        </span>

        <div class="flexrow">
          <label>
            {{#ifEquals spellbookIndex "arcane"}}
            <h3>{{localize "PF1.Potential"}}</h3>
            {{/ifEquals}}
            {{#ifEquals spellbookIndex "divine"}}
            <h3>{{localize "PF1.Capacity"}}</h3>
            {{/ifEquals}}
          </label>
          <span class="text-box direct" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.pool.value" data-dtype="Number">{{spellbook.orig.pool.value}}</span>
          <span class="separator"> / </span>
          <span class="text-box max readonly">{{spellbook.orig.pool.max}}</span>
        </div>

        <div class="poolbar">
          {{#if spellbook.orig.pool.pct}}
          <span class="bar" style="width: {{spellbook.orig.pool.pct}}%"></span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="spellcasting-config flexrow" style="flex: 0 5 5%; align-items: center; margin-left: auto; text-align: right;">
      <label><a class="hide-show" data-for="spellbook-info_{{spellbookIndex}}"><i class="fas fa-cogs"></i></a></label>
    </div>
  </div>
  <div class="hide spellbook-info_{{spellbookIndex}} {{#unless (lookup hiddenElems (concat " spellbook-info_" spellbookIndex))}}hidden{{/unless}}">
    <div class="flexrow spellcasting-notes pf1-sheet-group">
      <textarea name="data.attributes.spells.spellbooks.{{spellbookIndex}}.concentrationNotes" placeholder="{{localize "PF1.ConcentrationNotes"}}">{{spellbook.orig.concentrationNotes}}</textarea>
      <textarea name="data.attributes.spells.spellbooks.{{spellbookIndex}}.clNotes" placeholder="{{localize "PF1.CasterLevelNotes"}}">{{spellbook.orig.clNotes}}</textarea>
      <textarea name="data.attributes.spells.spellbooks.{{spellbookIndex}}.attackNotes" placeholder="{{localize "PF1.AttackNotes"}}">{{spellbook.orig.attackNotes}}</textarea>
      <textarea name="data.attributes.spells.spellbooks.{{spellbookIndex}}.poolNotes" placeholder="{{localize "PF1.PoolNotes"}}">{{spellbook.orig.poolNotes}}</textarea>
    </div>
    <hr/>

    <div class="flexrow spell-settings">
      <div class="flexcol pf1-sheet-group">
        <div class="flexrow spell-cl">
          <label>
            <h3>{{localize "PF1.SpellCLAbility"}}</h3>
          </label>
          <select class="casting-ability" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.cl.ability" data-dtype="String">
            {{#select spellbook.orig.cl.ability}}
            <option value=""></option>
            {{#each config.abilities as |ability a|}}
            <option value="{{a}}">{{ability}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="flexrow spell-attack">
          <label>
            <h3>{{localize "PF1.SpellAttackAbility"}}</h3>
          </label>
          <select class="casting-ability" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.attack.ability" data-dtype="String">
            {{#select spellbook.orig.attack.ability}}
            <option value=""></option>
            {{#each config.abilities as |ability a|}}
            <option value="{{a}}">{{ability}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="flexrow spell-pool">
          <label>
            <h3>{{localize "PF1.SpellPoolAbility"}}</h3>
          </label>
          <select class="casting-ability" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.pool.ability" data-dtype="String">
            {{#select spellbook.orig.pool.ability}}
            <option value=""></option>
            {{#each config.abilities as |ability a|}}
            <option value="{{a}}">{{ability}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="flexrow spell-concentration">
          <label>
            <h3>{{localize "PF1.SpellConcentrationSkill"}}</h3>
          </label>
          <select class="casting-ability" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.concentration.skill" data-dtype="String">
            {{#select spellbook.orig.concentration.skill}}
            <option value=""></option>
            {{#each config.skills as |skill a|}}
            <option value="{{a}}">{{skill}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>

        {{#ifEquals spellbookIndex "arcane"}}
        <div class="flexrow spell-failure">
          <label>
            <h3>{{localize "PF1.SpellAttackPenalty"}}</h3>
          </label>
          <input type="text" disabled value="{{spellFailure}}" />
        </div>
        {{/ifEquals}}
      </div>

      <div class="flexcol pf1-sheet-group">
        <div class="spellcasting-cl flexrow">
          <label>
            <h3>{{localize "PF1.CasterLevelBonusFormula"}}</h3>
          </label>
          <input class="formula" type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.cl.formula"
            value="{{spellbook.orig.cl.formula}}" placeholder="{{localize "PF1.CasterLevelBonusFormula"}}" />
        </div>

        {{#ifEquals spellbookIndex "arcane"}}
        <div class="flexrow spell-attack">
          <label>
            <h3>{{localize "PF1.AttackBonusFormula"}}</h3>
          </label>
          <input class="formula" type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.attack.formula"
            value="{{spellbook.orig.attack.formula}}" placeholder="{{localize "PF1.AttackBonusFormula"}}" />
        </div>
        {{/ifEquals}}
        {{#ifEquals spellbookIndex "divine"}}
        <div class="flexrow spell-attack">
          <label>
            <h3>{{localize "PF1.DCBonusFormula"}}</h3>
          </label>
          <input class="formula" type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.attack.formula"
            value="{{spellbook.orig.attack.formula}}" placeholder="{{localize "PF1.DCBonusFormula"}}" />
        </div>
        {{/ifEquals}}

        <div class="flexrow spell-pool">
          <label>
            <h3>{{localize "PF1.PoolBonusFormula"}}</h3>
          </label>
          <input class="formula" type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.pool.formula"
            value="{{spellbook.orig.pool.formula}}" placeholder="{{localize "PF1.PoolBonusFormula"}}" />
        </div>

        <div class="flexrow spell-concentration">
          <label>
            <h3>{{localize "PF1.ConcentrationBonusFormula"}}</h3>
          </label>
          <input class="formula" type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.concentration.formula"
            value="{{spellbook.orig.concentration.formula}}" placeholder="{{localize "PF1.ConcentrationBonusFormula"}}" />
        </div>
      </div>
    </div>
  </div>

  <div class="flexrow spell-range">
    <table>
      <thead>
        <tr>
          <th class="tooltip">
            {{localize "PF1.DistClose"}}

            <div class="tooltipcontent">
              @spells.{{spellbookIndex}}.range.close : {{spellbook.orig.range.close}}
            </div>
          </th>
          <th class="tooltip">
            {{localize "PF1.DistShort"}}

            <div class="tooltipcontent">
              @spells.{{spellbookIndex}}.range.short : {{spellbook.orig.range.short}}
            </div>
          </th>
          <th class="tooltip">
            {{localize "PF1.DistMedium"}}

            <div class="tooltipcontent">
              @spells.{{spellbookIndex}}.range.medium : {{spellbook.orig.range.medium}}
            </div>
          </th>
          <th class="tooltip">
            {{localize "PF1.DistLong"}}

            <div class="tooltipcontent">
              @spells.{{spellbookIndex}}.range.long : {{spellbook.orig.range.long}}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{spellbook.orig.range.close}}</td>
          <td>{{spellbook.orig.range.short}}</td>
          <td>{{spellbook.orig.range.medium}}</td>
          <td>{{spellbook.orig.range.long}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{!-- Spellbook Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category=(concat "spells-" spellbookIndex)}}

  <ul class="filter-list flexrow" data-filter="spellbook-{{spellbookIndex}}">
    {{#each spellbook.data as |section sid|}}
    <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<section class="spells_{{spellbookIndex}}-body">
  <div class="inventory-group flexcol">
    <ol class="inventory-list">
      {{#each spellbook.data as |section sid|}}
      {{#unless section._hidden}}
      <li class="flexrow inventory-header spellbook-header" data-level="{{section.level}}">
        <div class="item-name flexrow">
          <h3>{{section.name}}</h3>
        </div>

        <div class="item-detail spell-cost"><span class="spell-cost">{{section.cost}}</span></div>

        <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>

        <div class="item-detail spell-activation"><i class="icon icon-hand large" title="{{localize "PF1.Usage"}}"></i></div>

        <div class="item-detail spell-components"><i class="icon icon-expense large" title="{{localize "PF1.Components"}}"></i></div>

        <div class="item-detail spell-traits"><i class="icon icon-spell-book large" title="{{localize "PF1.SpellTraits"}}"></i></div>

        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
            <i class="fas fa-plus"></i>
          </a>
          {{/if}}
          <a data-action="compendium" data-action-target="spells" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
        </div>
      </li>

      <ol class="item-list">

        {{#each section.items as |item i|}}
        <li class="item flexrow {{#if item.document.canCast}}prepared{{else}}unprepared{{/if}} {{#if item.data.domain}}domain{{/if}}" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style='background-image: url("{{item.img}}")'></div>
            <h4>{{item.name}}</h4>
          </div>

          <div class="item-detail item-actions">
            <div class="item-attack tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.UseSpell"}}<br/>
                {{#if labels.range}}{{labels.range}}<br>{{/if}}
                {{#if labels.save}}{{labels.save}}<br/>{{/if}}
              </span>
              <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
            </div>
          </div>

          <div class="item-detail spell-activation"><span>{{labels.activation}}</span></div>

          <div class="item-detail spell-components tooltip">
            {{#if (or data.materials.value data.materials.focus)}}
            <span class="tooltipcontent">
              {{#if data.materials.focus}}{{localize "PF1.SpellComponentFocus"}}: {{data.materials.focus}}<br/>{{/if}}
              {{#if data.materials.value}}{{localize "PF1.SpellComponentMaterial"}}: {{data.materials.value}}<br/>{{/if}}
            </span>
            {{/if}}
            <span>{{labels.components}}</span>
          </div>

          <div class="item-detail spell-traits"><span>{{labels.traits}}</span></div>

          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}

        {{#if section.lowAbilityScore}}
          <h4 class="spell-level-message">{{localize "PF1.SpellScoreTooLow"}}</h4>
        {{/if}}
        {{#if section.spellMessage}}
        <h4 class="spell-level-message">{{section.spellMessage}}</h4>
        {{/if}}

      </ol>
      {{/unless}}
      {{/each}}
    </ol>
  </div>
</section>