{{!-- Ability Scores --}}
<div class="ability-scores">
    <table class="ability-table">
        <thead>
            <tr>
                <th>{{localize "PF1.Ability"}}</th>
                <th>{{localize "PF1.Total"}}</th>
                <th>{{localize "PF1.Modifier"}}</th>
                <th>{{localize "PF1.Base"}}</th>
                <th>{{localize "PF1.Bonus"}}</th>
                <th>{{localize "PF1.TempShort"}}</th>
            </tr>
        </thead>

        <tbody>
            {{#each data.abilities as |ability id|}}
            <tr class="ability" data-ability="{{id}}">
                {{!-- Ability name --}}
                <th class="tooltip">
                    <span class="tooltipcontent">
                        @abilities.{{id}}.total : {{ability.total}}<br/>
                        @abilities.{{id}}.value : {{ability.value}}<br/>
                        @abilities.{{id}}.mod : {{ability.mod}}<br/>
                        @abilities.{{id}}.base : {{ability.base}}<br/>
                        @abilities.{{id}}.baseMod : {{ability.baseMod}}<br/>
                        @abilities.{{id}}.bonus : {{ability.bonus}}<br/>
                        @abilities.{{id}}.temp : {{ability.temp}}<br/>
                        @abilities.{{id}}.aspect : {{ability.aspect}}<br/>

                        {{#if ability.sourceDetails.length}}
                        <br/>{{localize "PF1.FromSources"}} ({{localize "PF1.AbilityScore"}}):<br/>
                        {{#each ability.sourceDetails as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                        {{/if}}

                        {{#with (lookup ../sourceDetails.data.abilities id)}}
                        {{#if mod.length}}
                        <br/>{{localize "PF1.FromSources"}} ({{localize "PF1.Modifier"}}):<br/>
                        {{#each mod as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                        {{/if}}
                        {{/with}}

                        {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "abilityChecks." id)}}
                    </span>

                    <a class="ability-name rollable">
                        <i class="fas fa-dice"></i>
                        {{ability.label}}
                    </a>
                </th>

                {{!-- Total --}}
                <td>{{ability.totalLabel}}</td>

                {{!-- Modifier --}}
                <td>{{numberFormat ability.mod decimals=0 sign=true}}</td>

                {{!-- Base --}}
                <td>
                    <span class="text-box direct" name="data.abilities.{{id}}.base" data-dtype="Number">{{ability.base}}</span>
                </td>

                {{!-- Bonus --}}
                <td>
                    <span class="text-box direct" name="data.abilities.{{id}}.bonus" data-dtype="Number">{{ability.bonus}}</span>
                </td>

                {{!-- Temp --}}
                <td>
                    <span class="text-box direct" name="data.abilities.{{id}}.temp" data-dtype="Number">{{ability.temp}}</span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <table class="aspect-table">
        <thead>
            <tr>
                <th>{{localize "PF1.Aspect"}}</th>
                <th>{{localize "PF1.Modifier"}}</th>
            </tr>
        </thead>

        <tbody>
            {{#each data.aspects as |aspect id|}}
            <tr class="aspect" data-aspect="{{id}}">
                {{!-- Aspect name --}}
                <th class="tooltip">
                    <span class="tooltipcontent">
                        @aspects.{{id}}.mod : {{aspect.mod}}<br/>

                        {{#if aspect.sourceDetails.length}}
                        <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                        {{#each aspect.sourceDetails as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                        {{/if}}
                    </span>

                    <a class="aspect-name rollable">
                        <i class="fas fa-dice"></i>
                        {{aspect.label}}
                    </a>
                </th>

                {{!-- Modifier --}}
                <td>{{numberFormat aspect.mod decimals=0 sign=true}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <table class="saves-table">
        <thead>
            <tr>
                <th>{{localize "PF1.Save"}}</th>
                <th>{{localize "PF1.Progression"}}</th>
                <th>{{localize "PF1.Total"}}</th>
                <th>{{localize "PF1.Bonus"}}</th>
                <th>{{localize "PF1.TempShort"}}</th>
            </tr>
        </thead>

        <tbody>
            {{#each data.attributes.savingThrows as |save id|}}
            <tr class="saving-throw" data-savingthrow="{{id}}">
                {{!-- Save name --}}
                <th class="tooltip" data-savingthrow="{{id}}">
                    <span class="tooltipcontent">
                        @savingThrows.{{id}}.total : {{save.total}}<br/>
                        @savingThrows.{{id}}.base : {{save.base}}<br/>
                        @savingThrows.{{id}}.bonus : {{save.bonus}}<br/>
                        @savingThrows.{{id}}.temp : {{save.temp}}<br/>
                    </span>

                    <a class="rollable">
                        <i class="fas fa-dice"></i>
                        {{save.label}}
                    </a>
                </th>

                {{!-- Progression --}}
                <td>
                    <select class="save-progression" name="data.attributes.savingThrows.{{id}}.progression" data-dtype="String">
                        {{#select save.progression}}
                        {{#each ../config.savingThrowsProg as |progression p|}}
                        <option value="{{p}}">{{progression}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>

                {{!-- Total --}}
                <td>{{numberFormat save.total decimals=0 sign=true}}</td>

                {{!-- Bonus --}}
                <td>
                    <span class="text-box direct" name="data.attributes.savingThrows.{{id}}.bonus" data-dtype="Number">{{save.bonus}}</span>
                </td>

                {{!-- Temp --}}
                <td>
                    <span class="text-box direct" name="data.attributes.savingThrows.{{id}}.temp" data-dtype="Number">{{save.temp}}</span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <table>
        <thead>
            <th class="tooltip">
                {{localize "PF1.ACP"}}
                <div class="tooltipcontent">
                    @attributes.acp.total : {{data.attributes.acp.total}}

                    {{#if sourceDetails.data.attributes.acp.total.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.data.attributes.acp.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                    {{/if}}

                    {{#if sourceDetails.data.attributes.acp.armorBonus.length}}
                    <br/>{{localize "PF1.EquipTypeArmor"}}:<br/>
                    {{#each sourceDetails.data.attributes.acp.armorBonus as |src|}}{{src.name}}: {{numberFormat src.value decimals=0 sign=true}}<br/>{{/each}}
                    {{/if}}
                    {{#if sourceDetails.data.attributes.acp.shieldBonus.length}}
                    <br/>{{localize "PF1.EquipTypeShield"}}:<br/>
                    {{#each sourceDetails.data.attributes.acp.shieldBonus as |src|}}{{src.name}}: {{numberFormat src.value decimals=0 sign=true}}<br/>{{/each}}
                    {{/if}}
                </div>
            </th>
            <th class="tooltip">
                {{localize "PF1.MaxDexShort"}}
                <div class="tooltipcontent">
                    @attributes.maxDexBonus : {{data.attributes.maxDexBonus}}

                    {{#if sourceDetails.data.attributes.maxDexBonus.length}}
                    <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.data.attributes.maxDexBonus as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                    {{/if}}

                    {{#if sourceDetails.data.attributes.mDex.armorBonus.length}}
                    <br/>{{localize "PF1.EquipTypeArmor"}}:<br/>
                    {{#each sourceDetails.data.attributes.mDex.armorBonus as |src|}}{{src.name}}: {{numberFormat src.value decimals=0 sign=true}}<br/>{{/each}}
                    {{/if}}
                    {{#if sourceDetails.data.attributes.mDex.shieldBonus.length}}
                    <br/>{{localize "PF1.EquipTypeShield"}}:<br/>
                    {{#each sourceDetails.data.attributes.mDex.shieldBonus as |src|}}{{src.name}}: {{numberFormat src.value decimals=0 sign=true}}<br/>{{/each}}
                    {{/if}}
                </div>
            </th>
        </thead>

        <tbody>
            <td class='acp'>{{data.attributes.acp.total}}</td>
            <td class='maxdex'>{{data.attributes.maxDexBonus}}</td>
        </tbody>
    </table>
</div>

{{!-- Traits --}}
{{> "systems/pf1/templates/actors/parts/actor-traits.hbs"}}
