{{!-- Spellbooks --}}
{{!-- <div class="form-group">
    <h2>{{localize "PF1.SpellbookUsage"}}</h2>
</div>

<div class="form-group stacked">
    <label>{{localize "PF1.SpellBookPlural"}}</label>
    {{#each spellbookData as |spellbook a|}}
        <label class="checkbox">
            <input type="checkbox" {{checked spellbook.orig.inUse}} name="data.attributes.spells.spellbooks.{{a}}.inUse" /> {{spellbook.orig.name}}
        </label>
    {{/each}}
</div> --}}

{{!-- Ability Score Linking --}}
<div class="form-group ability-scores">
    <h2>{{localize "PF1.AbilityScoreLinks"}}</h2>
</div>

<div class="form-group table">
    <div class="flexcol ability-scores">
        {{!-- Header --}}
        <div class="flexrow header">
            <label class="cell left-label">{{localize "PF1.Feature"}}</label>
            <label class="cell midsize">{{localize "PF1.AbilityScore"}}</label>
        </div>

        {{!-- Combat --}}
        <div class="flexrow sub-header">
            <label class="cell">{{localize "PF1.Combat"}}</label>
        </div>

        <div class="flexrow">
            <label class="cell left-label">{{localize "PF1.Melee"}}<!-- Attack --></label>
            <select name="data.attributes.attack.meleeAbility" class="cell midsize">
                {{#select data.attributes.attack.meleeAbility}}
                    <option value=""></option>
                    {{#each config.abilities as |label value|}}
                        <option value="{{value}}">{{label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="flexrow">
            <label class="cell left-label">{{localize "PF1.Ranged"}}<!-- Attack --></label>
            <select name="data.attributes.attack.rangedAbility" class="cell midsize">
                {{#select data.attributes.attack.rangedAbility}}
                    <option value=""></option>
                    {{#each config.abilities as |label value|}}
                        <option value="{{value}}">{{label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        {{!-- Defense --}}
        <div class="flexrow sub-header">
            <label class="cell">{{localize "PF1.Defense"}}</label>
        </div>

        <div class="flexrow">
          <label class="cell left-label">{{localize "PF1.ArmorClass"}}</label>
          <select name="data.attributes.ac.normal.ability" class="cell midsize">
              {{#select data.attributes.ac.normal.ability}}
                  <option value=""></option>
                  {{#each config.abilities as |label value|}}
                      <option value="{{value}}">{{label}}</option>
                  {{/each}}
              {{/select}}
          </select>
        </div>

        <div class="flexrow">
          <label class="cell left-label">{{localize "PF1.ACTouch"}}</label>
          <select name="data.attributes.ac.touch.ability" class="cell midsize">
              {{#select data.attributes.ac.touch.ability}}
                  <option value=""></option>
                  {{#each config.abilities as |label value|}}
                      <option value="{{value}}">{{label}}</option>
                  {{/each}}
              {{/select}}
          </select>
        </div>
    </div>
</div>

{{!-- Tooltip Settings --}}
{{#if isGM}}
    <div class="form-group token-tooltips">
        <h2>{{localize "PF1.TooltipConfigName"}}</h2>
    </div>

    <div class="form-group">
        <label>{{localize "PF1.Name"}}</label>
        <input type="text" name="data.details.tooltip.name" placeholder="{{token.name}}" value="{{data.details.tooltip.name}}" />
    </div>

    <div class="form-group stacked">
        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideHeld" {{checked actor.data.data.details.tooltip.hideHeld}}/> {{localize "PF1.HideHeld"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideArmor" {{checked actor.data.data.details.tooltip.hideArmor}}/> {{localize "PF1.HideArmor"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideBuffs" {{checked actor.data.data.details.tooltip.hideBuffs}}/> {{localize "PF1.HideBuffs"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideConditions" {{checked actor.data.data.details.tooltip.hideConditions}}/> {{localize "PF1.HideConditions"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideClothing" {{checked actor.data.data.details.tooltip.hideClothing}}/> {{localize "PF1.HideClothing"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideName" {{checked actor.data.data.details.tooltip.hideName}}/> {{localize "PF1.HideName"}}
        </label>
    </div>
{{/if}}
