<div class="traits flexcol">
  <div class="form-group">
    <label>{{localize "PF1.Size"}}</label>
    <select name="data.traits.size">
      {{#select data.traits.size}}
      {{#each config.actorSizes as |label size|}}
      <option value="{{size}}">{{label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "PF1.Stature"}}</label>
    <select name="data.traits.stature">
      {{#select data.traits.stature}}
      {{#each config.actorStatures as |label key|}}
      <option value="{{key}}">{{label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group {{#unless data.traits.senses}}inactive{{/unless}}">
    <label>{{localize "PF1.Senses"}}</label>
    <input type="text" name="data.traits.senses" value="{{data.traits.senses}}" placeholder="{{localize "PF1.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.dr}}inactive{{/unless}}">
    <label>{{localize "PF1.DamRed"}}</label>
    <input type="text" name="data.traits.dr" value="{{data.traits.dr}}" placeholder="{{localize "PF1.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.regen}}inactive{{/unless}}">
    <label>{{localize "PF1.Regeneration"}}</label>
    <input type="text" name="data.traits.regen" value="{{data.traits.regen}}" placeholder="{{localize "PF1.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.fastHealing}}inactive{{/unless}}">
    <label>{{localize "PF1.FastHealing"}}</label>
    <input type="text" name="data.traits.fastHealing" value="{{data.traits.fastHealing}}" placeholder="{{localize "PF1.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.eres}}inactive{{/unless}}">
    <label>{{localize "PF1.EnRes"}}</label>
    <input type="text" name="data.traits.eres" value="{{data.traits.eres}}" placeholder="{{localize "PF1.None"}}"/>
  </div>

  <div class="form-group {{#unless data.traits.cres}}inactive{{/unless}}">
    <label>{{localize "PF1.ConRes"}}</label>
    <input type="text" name="data.traits.cres" value="{{data.traits.cres}}" placeholder="{{localize "PF1.None"}}"/>
  </div>

  <div class="form-group {{data.traits.di.cssClass}}">
    <label for="data.traits.di">{{localize "PF1.DamImm"}}</label>
    <ul class="traits-list tag-list">
      {{#each data.traits.di.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
  </div>

  <div class="form-group {{data.traits.dv.cssClass}}">
    <label for="data.traits.dv">{{localize "PF1.DamVuln"}}</label>
    <ul class="traits-list tag-list">
      {{#each data.traits.dv.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
  </div>

  <div class="form-group {{data.traits.ci.cssClass}}">
    <label for="data.traits.ci">{{localize "PF1.ConImm"}}</label>
    <ul class="traits-list tag-list">
      {{#each data.traits.ci.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-options="conditionTypes"><i class="fas fa-edit"></i></a>
  </div>

  {{#if isCharacter}}
    <div class="form-group {{data.traits.weaponProf.cssClass}}">
      <label for="data.traits.weaponProf">
        {{localize "PF1.TraitWeaponProf"}}
      </label>
      <ul class="traits-list tooltip tag-list">
        {{#each data.traits.weaponProf.selected as |v k|}}
          <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        {{#if sourceDetails.data.traits.weaponProf.length}}
          <div class="tooltipcontent">
            {{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.traits.weaponProf as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          </div>
        {{/if}}
      </ul>
      <a class="trait-selector" data-options="weaponProficiencies"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{data.traits.armorProf.cssClass}}">
      <label for="data.traits.armorProf">
        {{localize "PF1.TraitArmorProf"}}
      </label>
      <ul class="traits-list tooltip tag-list">
        {{#each data.traits.armorProf.selected as |v k|}}
          <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        {{#if sourceDetails.data.traits.armorProf.length}}
          <div class="tooltipcontent">
            {{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.traits.armorProf as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          </div>
        {{/if}}
      </ul>
      <a class="trait-selector" data-options="armorProficiencies"><i class="fas fa-edit"></i></a>
    </div>

    {{!-- Point Buy Calculator --}}
    <div class="form-group">
      <button type="button" class="pointbuy-calculator">{{localize "PF1.StandardArrayCalculator"}}</button>
    </div>
  {{/if}}
</div>
